@using API.Controllers
@using CAPA_NEGOCIO.Security
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SNI ADMIN</title>
    <link rel="stylesheet" href="~/css/AdminTemplate.css" />
    <script type="module">
        import { WSecurity } from "../WDevCore/WModules/WSecurity.js";
        const logout = () => {
            WSecurity.LogOut();
        }
        window.addEventListener("load", () => {
            //active nav
            if (location.href.includes("Datos_ConfiguracionView")) {
                Datos_ConfiguracionView.className = "active";
            } else if (location.href.includes("Transaction_Contratos_InversionistasView")) {
                Transaction_Contratos_InversionistasView.className = "active";
            } else if (location.href.includes("Transaction_ContratosView")) {
                Transaction_ContratosView.className = "active";
            } else if (location.href.includes("Transaction_FacturasView")) {
                Transaction_FacturasView.className = "active";
            } else if (location.href.includes("Transaction_Ingresos_EgresosView")) {
                Transaction_Ingresos_EgresosView.className = "active";
            }else if (location.href.includes("Gestion_Clientes")) {
                Gestion_Clientes.className = "active";
            } else {
                Home.className = "active";
            }
            //logOut
            btnLogOut.onclick = logout;
        })
    </script>
</head>

<body id="AdminTemplate">
    <aside id="Aside">
        <nav>
            <a class="" id="Home" asp-area="" asp-page="/">HOME</a>
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_SUCURSALES.ToString()))
            {
                <a class="" id="Datos_ConfiguracionView" asp-area="" asp-page="/PagesViews/Datos_ConfiguracionView">CONFIGURACIONES</a>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CONTRATOS.ToString()))
            {
                <a class="" id="Transaction_Contratos_InversionistasView" asp-area="" asp-page="/PagesViews/Transaction_Contratos_InversionistasView">CONTRATOS INVERSIONISTAS</a>
                <a class="" id="Transaction_ContratosView" asp-area="" asp-page="/PagesViews/Transaction_ContratosView">CONTRATOS</a>
            }            
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_INGRESOS.ToString()))
            {
                <a class="" id="Transaction_FacturasView" asp-area="" asp-page="/PagesViews/Transaction_FacturasView">FACTURAS</a>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_MOVIMIENTOS.ToString()) )
            {
                <a class="" id="Transaction_Ingresos_EgresosView" asp-area="" asp-page="/PagesViews/Transaction_Ingresos_EgresosView">EGRESOS/INGRESOS</a>                
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString()) )
            {
                <a class="" id="Gestion_Clientes" asp-area="" asp-page="/PagesViews/Gestion_Clientes">Gestion de clientes</a>                
            }
        </nav>
        
    </aside>

    <header id="Header" class="admin-header">
        @if (SecurityController.IsAdmin())
        {
            <a href="~/Admin/Index">Admin Panel</a>
        }
        <a href="#" id="btnLogOut">Cerrar Sesión</a>
    </header>
    <div class="background"></div>

    <div id="MainContainer">
        <main role="main" id="Main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
