@page
@using API.Controllers
@{
    if (!SecurityController.Auth())
    {
        Response.Redirect("../LoginView");
        return;
    }    
}
<script src='~/Views/ADMINISTRATIVE_ACCESSCatalogosManagerView.js' type='module'></script>
<div id='MainBody'></div>
