USE [EMPRE_SA]
GO
/****** Object:  Table [administrative_access].[Transactional_Configuraciones]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [administrative_access].[Transactional_Configuraciones](
	[Id_Configuracion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Valor] [nvarchar](max) NULL,
	[Tipo_Configuracion] [varchar](100) NULL,
 CONSTRAINT [PK_Transactional_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[Id_Configuracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Transactional_Configuraciones_UN] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Agentes]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Agentes](
	[id_agente] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](250) NULL,
	[fecha] [datetime] NULL,
	[Id_Tipo_Agente] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_agente] PRIMARY KEY CLUSTERED 
(
	[id_agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Cambio_Divisa]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Cambio_Divisa](
	[id_cambio] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[valor_de_compra] [float] NULL,
	[valor_de_venta] [float] NULL,
	[Moneda] [varchar](250) NULL,
 CONSTRAINT [PK_cambioaldiadolar] PRIMARY KEY CLUSTERED 
(
	[id_cambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Categoria]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[plazo_limite] [int] NOT NULL,
	[prioridad] [int] NULL,
	[isEditable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Catalogo_Categoria_UN] UNIQUE NONCLUSTERED 
(
	[tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clasificacion_Cliente]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clasificacion_Cliente](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Clasificacion_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clasificacion_Interes]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clasificacion_Interes](
	[id_clasificacion_interes] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[porcentaje] [float] NULL,
 CONSTRAINT [PK_Catalogo_Clasificacion_Interes] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion_interes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clientes_ModelComponent]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clientes_ModelComponent](
	[codigo_cliente] [int] IDENTITY(148,1) NOT NULL,
	[primer_nombre] [nvarchar](50) NULL,
	[segundo_nombre] [nvarchar](50) NULL,
	[primer_apellido] [nvarchar](50) NULL,
	[segundo_apellidio] [nvarchar](50) NULL,
	[id_tipo_identificacion] [int] NULL,
	[identificacion] [nvarchar](50) NULL,
	[sexo] [nvarchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[id_profesion] [int] NULL,
	[id_departamento] [int] NULL,
	[id_municipio] [int] NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](500) NULL,
	[hora] [nvarchar](50) NULL,
	[fecha] [datetime] NULL,
	[observaciones] [nvarchar](300) NULL,
	[estado_civil] [nvarchar](50) NULL,
	[tipoc] [int] NULL,
	[tipo_firma] [nvarchar](50) NULL,
	[valor_cliente] [nvarchar](50) NULL,
	[operadora_celular] [nvarchar](50) NULL,
	[valor_interes] [float] NULL,
	[solo_acreedor] [nvarchar](50) NULL,
	[promedio] [float] NULL,
	[id_clasificacion] [int] NULL,
	[id_clasificacion_interes] [int] NULL,
 CONSTRAINT [PK_datosclientes] PRIMARY KEY CLUSTERED 
(
	[codigo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Cuentas]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Cuentas](
	[id_cuentas] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[tipo_cuenta] [varchar](10) NULL,
	[id_sucursal] [int] NULL,
	[id_categoria] [int] NULL,
	[saldo] [float] NULL,
	[saldo_dolares] [float] NULL,
	[permite_dolares] [bit] NULL,
	[permite_cordobas] [bit] NULL,
	[Transacciones_Permitidas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuentas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Departamento]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[id_nacionalidad] [int] NULL,
	[ponderacion] [int] NULL,
	[puntaje] [int] NULL,
	[clasificacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_departamentos] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Estados_Articulos]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Estados_Articulos](
	[id_estado_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[descripcion] [nvarchar](500) NULL,
	[porcentaje_compra] [float] NULL,
	[porcentaje_empeno] [float] NULL,
 CONSTRAINT [PK_Catalogo_Estados_Articulos] PRIMARY KEY CLUSTERED 
(
	[id_estado_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Inversores]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Inversores](
	[id_inversor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[direccion] [nvarchar](500) NULL,
	[id_municipio] [int] NULL,
	[estado_civil] [nvarchar](50) NULL,
	[identificacion] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[id_nacionalidad] [int] NULL,
 CONSTRAINT [PK_iversor] PRIMARY KEY CLUSTERED 
(
	[id_inversor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Municipio]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Municipio](
	[id_municipio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[id_departamento] [int] NULL,
 CONSTRAINT [PK_municipio] PRIMARY KEY CLUSTERED 
(
	[id_municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Nacionalidad]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Nacionalidad](
	[id_nacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[nacionalidad] [nvarchar](50) NULL,
	[ponderacion] [int] NULL,
	[puntaje] [int] NULL,
	[clasificacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_nacionalidades] PRIMARY KEY CLUSTERED 
(
	[id_nacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Profesiones]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Profesiones](
	[id_profesion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_profesiones] PRIMARY KEY CLUSTERED 
(
	[id_profesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Sucursales]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Sucursales](
	[Id_Sucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Direccion] [nvarchar](500) NULL,
	[id_municipio] [int] NULL,
 CONSTRAINT [PK_Catalogo_Sucursales] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Tipo_Agente]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Tipo_Agente](
	[Id_Tipo_Agente] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Tipo_Agente] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Agente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Tipo_Identificacion]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Tipo_Identificacion](
	[id_tipo_identificacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Tipo_Identificacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Cuentas]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Cuentas](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condicion_Laboral_Cliente]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condicion_Laboral_Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[fecha_ingreso] [date] NULL,
	[ocupacion_cargo] [varchar](255) NULL,
	[ingresos_mensuales] [float] NULL,
	[direccion] [varchar](600) NULL,
	[id_municipio] [int] NULL,
	[id_departamento] [int] NULL,
	[nombre_empresa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_Configuracion]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_Configuracion](
	[Id_Sucursal] [int] NOT NULL,
	[Encabezado] [nvarchar](150) NULL,
	[AutoDebito] [bit] NULL,
	[Consecutivo] [int] NULL,
 CONSTRAINT [PK_Datos_Configuracion_1] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Movimiento]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Movimiento](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_movimiento] [int] NULL,
	[id_cuenta] [int] NULL,
	[debito] [float] NULL,
	[credito] [float] NULL,
	[tasa_cambio] [float] NULL,
	[fecha] [datetime] NULL,
	[debito_dolares] [float] NULL,
	[credito_dolares] [float] NULL,
	[monto_inicial] [float] NULL,
	[monto_final] [float] NULL,
	[monto_inicial_dolares] [float] NULL,
	[monto_final_dolares] [float] NULL,
	[moneda] [varchar](10) NULL,
	[tasa_cambio_compra] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Prendas]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Prendas](
	[numero_prenda] [int] IDENTITY(1,1) NOT NULL,
	[numero_contrato_OLD] [int] NULL,
	[Descripcion] [varchar](200) NULL,
	[monto_aprobado_cordobas] [float] NULL,
	[Tipo] [nvarchar](50) NULL,
	[marca] [nvarchar](50) NULL,
	[serie] [nvarchar](50) NULL,
	[modelo] [nvarchar](50) NULL,
	[iva] [nvarchar](50) NULL,
	[margen] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NULL,
	[interesl] [float] NULL,
	[moral] [float] NULL,
	[fliquidacion] [datetime] NULL,
	[precio_venta] [float] NULL,
	[en_manos_de] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[factura] [nvarchar](50) NULL,
	[tipo_movimiento] [nvarchar](50) NULL,
	[v_porcentage_etiqueta] [float] NULL,
	[numero_contrato] [int] NULL,
	[id_categoria] [int] NULL,
	[id_valoracion] [int] NULL,
	[monto_aprobado_dolares] [float] NULL,
 CONSTRAINT [PK_prendas] PRIMARY KEY CLUSTERED 
(
	[numero_prenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Prendas_Vehiculos]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Prendas_Vehiculos](
	[numero_prenda] [int] NOT NULL,
	[capacidad_cilindros] [nvarchar](50) NULL,
	[cantidad_cilindros] [nvarchar](50) NULL,
	[cantidad_pasajeros] [nvarchar](50) NULL,
	[year_vehiculo] [int] NULL,
	[montor] [nvarchar](50) NULL,
	[chasis] [nvarchar](50) NULL,
	[placa] [nvarchar](50) NULL,
	[circuacion] [nvarchar](50) NULL,
	[defectuoso] [nvarchar](50) NULL,
	[fecha_aut_descuento] [datetime] NULL,
	[defecto] [varchar](300) NULL,
	[porcentage_descuento_maximo] [float] NULL,
	[fecha_seguro] [datetime] NULL,
	[combustible] [nvarchar](50) NULL,
	[uso] [nvarchar](50) NULL,
	[servicio] [nvarchar](50) NULL,
 CONSTRAINT [PK_prendas_VEHICULOS] PRIMARY KEY CLUSTERED 
(
	[numero_prenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Valores]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Valores](
	[id_valoracion] [int] NOT NULL,
	[Valoracion_1] [float] NULL,
	[Valoracion_2] [float] NULL,
	[Valoracion_3] [float] NULL,
	[dolares_1] [float] NULL,
	[dolares_2] [float] NULL,
	[dolares_3] [float] NULL,
 CONSTRAINT [PK_Detail_Valores] PRIMARY KEY CLUSTERED 
(
	[id_valoracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Factura_Recibo]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Factura_Recibo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NULL,
	[id_cuota] [int] NULL,
	[total_cuota] [float] NULL,
	[monto_pagado] [float] NULL,
	[capital_restante] [float] NULL,
	[concepto] [nvarchar](200) NULL,
	[tasa_cambio] [float] NULL,
	[EstadoAnterior] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[LogType] [nvarchar](max) NULL,
	[Fecha] [datetime] NULL,
	[message] [varchar](max) NULL,
	[body] [nvarchar](max) NULL,
	[Id_User] [int] NULL,
 CONSTRAINT [PK_CaseTable_Agendas] PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos_Cuentas]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos_Cuentas](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria_cuenta_origen] [int] NULL,
	[id_categoria_cuenta_destino] [int] NULL,
	[permite_debito] [bit] NULL,
	[permite_credito] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Acta_Entrega]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Acta_Entrega](
	[Id_Acta_Entrega] [int] IDENTITY(0,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[numero_contrato] [int] NULL,
	[numero_prenda] [int] NULL,
	[Id_Sucursal] [int] NULL,
	[Id_Transaccion] [int] NULL,
	[Estado] [nvarchar](100) NULL,
	[ActaType] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Acta_Entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Cuotas_ModelComponent]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Cuotas_ModelComponent](
	[id_cuota] [int] IDENTITY(1,1) NOT NULL,
	[numero_contrato] [int] NULL,
	[fecha] [datetime] NULL,
	[total] [float] NULL,
	[interes] [float] NULL,
	[abono_capital] [float] NULL,
	[capital_restante] [float] NULL,
	[fecha_pago] [datetime] NULL,
	[pago_contado] [float] NULL,
	[descuento] [float] NULL,
	[tasa_cambio] [float] NULL,
	[mora] [float] NULL,
	[Estado] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Contratos]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Contratos](
	[numero_contrato] [int] IDENTITY(1,1) NOT NULL,
	[fecha_contrato] [datetime] NULL,
	[fecha_cancelar] [datetime] NULL,
	[monto] [float] NULL,
	[interes] [float] NULL,
	[mora] [float] NULL,
	[estado] [nvarchar](50) NULL,
	[fecha_vencimiento] [datetime] NULL,
	[codigo_cliente] [int] NULL,
	[saldo] [float] NULL,
	[abonos] [float] NULL,
	[tipo] [nvarchar](50) NULL,
	[observaciones] [nvarchar](600) NULL,
	[iva] [float] NULL,
	[descuento] [float] NULL,
	[taza_cambio] [float] NULL,
	[taza_cambio_compra] [float] NULL,
	[plazo] [int] NULL,
	[cuotafija] [float] NULL,
	[tasa_hoy] [float] NULL,
	[motivo_anulacion] [char](100) NULL,
	[valoracion_compra_dolares] [float] NULL,
	[valoracion_compra_cordobas] [float] NULL,
	[valoracion_empeño_cordobas] [float] NULL,
	[valoracion_empeño_dolares] [float] NULL,
	[tasas_interes] [float] NULL,
	[gestion_crediticia] [float] NULL,
	[cuotafija_dolares] [float] NULL,
	[fecha] [datetime] NULL,
	[total_pagar_cordobas] [float] NULL,
	[total_pagar_dolares] [float] NULL,
	[interes_dolares] [float] NULL,
	[Id_User] [int] NULL,
	[reestructurado] [int] NULL,
	[DesgloseIntereses] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
 CONSTRAINT [Transaction_Contratos_PK] PRIMARY KEY CLUSTERED 
(
	[numero_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Contratos_Inversionistas]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Contratos_Inversionistas](
	[numero_cont] [int] IDENTITY(37,1) NOT NULL,
	[fecha] [date] NULL,
	[taza] [float] NULL,
	[monto_inicial] [float] NULL,
	[nombre_sustituto] [nvarchar](50) NULL,
	[identificacion_sustituto] [nvarchar](50) NULL,
	[direccion_sustituto] [nvarchar](50) NULL,
	[departamento_sus] [nvarchar](50) NULL,
	[municipio_sustituto] [nvarchar](50) NULL,
	[id_inversor] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[fecha_ultimo_pago] [datetime] NULL,
	[saldo] [float] NULL,
	[montointeres] [float] NULL,
	[interes] [float] NULL,
	[fecha_restructura] [datetime] NULL,
	[Id_User] [int] NULL,
 CONSTRAINT [PK_contratoinversor] PRIMARY KEY CLUSTERED 
(
	[numero_cont] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Movimiento]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Movimiento](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[concepto] [nvarchar](250) NULL,
	[id_usuario_crea] [int] NULL,
	[fecha] [datetime] NULL,
	[tipo] [nvarchar](50) NULL,
	[moneda] [varchar](10) NULL,
	[tasa_cambio] [float] NULL,
	[tasa_cambio_compra] [float] NULL,
	[correo_enviado] [bit] NULL,
	[is_transaction] [bit] NULL,
	[id_sucursal] [int] NULL,
	[Id_cuenta_origen] [int] NULL,
	[Id_cuenta_destino] [int] NULL,
	[Tipo_Movimiento] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactional_Valoracion]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactional_Valoracion](
	[id_valoracion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Marca] [nvarchar](50) NULL,
	[Modelo] [nvarchar](50) NULL,
	[Tasa_interes] [float] NULL,
	[Plazo] [int] NULL,
	[Fecha] [datetime] NULL,
	[Tasa_de_cambio] [float] NULL,
	[id_estado] [int] NULL,
	[valoracion_compra_cordobas] [float] NULL,
	[valoracion_compra_dolares] [float] NULL,
	[valoracion_empeño_cordobas] [float] NULL,
	[valoracion_empeño_dolares] [float] NULL,
	[Serie] [varchar](150) NULL,
	[id_categoria] [int] NULL,
	[precio_venta_empeño_dolares] [float] NULL,
	[precio_venta_empeño_cordobas] [float] NULL,
 CONSTRAINT [PK_Transactional_Valoracion] PRIMARY KEY CLUSTERED 
(
	[id_valoracion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Cat_Almacenes]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Cat_Almacenes](
	[Id_Almacen] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Estado] [nvarchar](50) NULL,
	[Id_Sucursal] [int] NULL,
 CONSTRAINT [PK_Cat_Almacenes] PRIMARY KEY CLUSTERED 
(
	[Id_Almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Cat_Categorias]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Cat_Categorias](
	[Id_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Cat_Marca]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Cat_Marca](
	[Id_Marca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Cat_Producto]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Cat_Producto](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Id_Categoria] [int] NULL,
	[Id_Marca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Cat_Proveedor]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Cat_Proveedor](
	[Id_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](500) NULL,
	[Estado] [nvarchar](50) NULL,
	[Datos_Proveedor] [nvarchar](max) NULL,
	[Identificacion] [nvarchar](255) NULL,
 CONSTRAINT [PK_Cat_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Detalle_Compra]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Detalle_Compra](
	[Id_Detalle_Compra] [int] IDENTITY(1,1) NOT NULL,
	[Id_Compra] [int] NULL,
	[Id_Producto] [int] NULL,
	[Cantidad] [float] NULL,
	[Precio_Unitario] [float] NULL,
	[Total] [float] NULL,
	[Presentacion] [nvarchar](50) NULL,
	[SubTotal] [float] NULL,
	[Iva] [float] NULL,
 CONSTRAINT [PK_Detalle_Compra] PRIMARY KEY CLUSTERED 
(
	[Id_Detalle_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Detalle_Factura]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Detalle_Factura](
	[Id_DetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[Id_Factura] [int] NULL,
	[Id_Producto] [int] NULL,
	[Cantidad] [float] NULL,
	[Precio_Venta] [float] NULL,
	[Iva] [float] NULL,
	[Total] [float] NULL,
	[Id_Lote] [int] NULL,
	[Descuento] [float] NULL,
	[Sub_Total] [float] NULL,
	[Monto_Descuento] [float] NULL,
	[Total_Financiado] [float] NULL,
	[Total_Pagado] [float] NULL,
 CONSTRAINT [PK__Detalle___2874944CB4C134B9] PRIMARY KEY CLUSTERED 
(
	[Id_DetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Lotes]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Lotes](
	[Id_Transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
	[Id_Usuario] [int] NULL,
	[Id_Tipo_transaccion] [int] NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Bajas_Almacen]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Bajas_Almacen](
	[Id_Baja] [int] IDENTITY(1,1) NOT NULL,
	[Id_Lote] [int] NULL,
	[Id_Sucursal] [int] NULL,
	[Motivo_Baja] [nvarchar](100) NULL,
	[Estado] [nvarchar](100) NULL,
	[Id_Transaccion] [int] NULL,
	[Cantidad] [float] NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[Id_User] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Baja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Compra]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Compra](
	[Id_Compra] [int] IDENTITY(1,1) NOT NULL,
	[Datos_Compra] [nvarchar](max) NULL,
	[Id_Proveedor] [int] NULL,
	[Fecha] [datetime] NULL,
	[Tasa_Cambio] [float] NULL,
	[Moneda] [nvarchar](50) NULL,
	[Sub_Total] [float] NULL,
	[Iva] [float] NULL,
	[Total] [float] NULL,
	[Estado] [nvarchar](50) NULL,
	[Id_Sucursal] [int] NULL,
	[Id_User] [int] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[Motivo_Anulacion] [nvarchar](500) NULL,
 CONSTRAINT [PK_Tbl_Compra] PRIMARY KEY CLUSTERED 
(
	[Id_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Factura]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Factura](
	[Id_Factura] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](150) NULL,
	[Concepto] [nvarchar](300) NULL,
	[Forma_Pago] [varchar](50) NULL,
	[Direccion_Envio] [varchar](100) NULL,
	[Id_Cliente] [int] NULL,
	[Id_Sucursal] [int] NULL,
	[Fecha] [datetime] NULL,
	[Fecha_Vencimiento] [datetime] NULL,
	[Observaciones] [nvarchar](500) NULL,
	[Id_Usuario] [int] NULL,
	[Estado] [varchar](20) NULL,
	[Sub_Total] [float] NULL,
	[Iva] [float] NULL,
	[Tasa_Cambio] [float] NULL,
	[Total] [float] NULL,
	[Id_Proveedor] [int] NULL,
	[Id_User] [int] NULL,
	[TotalDescuento] [float] NULL,
	[Datos] [nvarchar](max) NULL,
	[Tasa_Cambio_Venta] [float] NULL,
	[Moneda] [nvarchar](250) NULL,
	[Total_Pagado] [float] NULL,
	[Total_Financiado] [float] NULL,
	[Datos_Financiamiento] [nvarchar](max) NULL,
	[Motivo_Anulacion] [nvarchar](500) NULL,
 CONSTRAINT [PK__Transacc__6C08ED5375E28D26] PRIMARY KEY CLUSTERED 
(
	[Id_Factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Lotes]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Lotes](
	[Id_Lote] [int] IDENTITY(1,1) NOT NULL,
	[Id_Producto] [int] NULL,
	[Precio_Venta] [float] NULL,
	[Precio_Compra] [float] NULL,
	[Cantidad_Inicial] [float] NULL,
	[Cantidad_Existente] [float] NULL,
	[Fecha_Ingreso] [datetime] NULL,
	[Id_Almacen] [int] NULL,
	[Id_Detalle_Compra] [int] NULL,
	[Lote] [nvarchar](255) NULL,
	[Datos_Producto] [nvarchar](max) NULL,
	[Id_Sucursal] [int] NULL,
	[Id_User] [int] NULL,
	[Detalles] [nvarchar](500) NULL,
	[EtiquetaLote] [nvarchar](max) NULL,
	[Estado] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tbl_Lotes] PRIMARY KEY CLUSTERED 
(
	[Id_Lote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Movimientos_Almacen]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Movimientos_Almacen](
	[Id_Movimiento] [int] IDENTITY(1,1) NOT NULL,
	[Id_Lote_Original] [int] NULL,
	[Id_Lote_Destino] [int] NULL,
	[Tipo_Movimiento] [nvarchar](20) NULL,
	[Cantidad] [float] NULL,
	[Id_Transaccion] [int] NULL,
	[Fecha] [datetime] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[Estado] [nvarchar](100) NULL,
	[Id_User] [int] NULL,
	[Id_Sucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Tbl_Transaccion]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Tbl_Transaccion](
	[Id_Transaccion] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [float] NULL,
	[Id_Lote] [int] NULL,
	[Id_User] [int] NULL,
	[Tipo] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Estado] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [facturacion].[Transaccion_Recibos]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [facturacion].[Transaccion_Recibos](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](150) NULL,
	[concepto] [nvarchar](300) NULL,
	[tasa_cambio] [float] NULL,
	[total] [float] NULL,
	[id_cliente] [int] NULL,
	[id_sucursal] [int] NULL,
	[fecha] [datetime] NULL,
	[id_usuario] [int] NULL,
	[Factura_contrato] [nvarchar](max) NULL,
	[estado] [varchar](20) NULL,
	[no_factura] [nvarchar](50) NOT NULL,
	[subtotal] [float] NOT NULL,
	[iva] [float] NULL,
	[total_cordobas] [float] NULL,
	[Moneda] [varchar](100) NULL,
	[Consecutivo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [security].[Cat_Paises]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Cat_Paises](
	[Id_Pais] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cat_Nacionalidad] PRIMARY KEY CLUSTERED 
(
	[Id_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
	[Detalles] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
	[Id_Sucursal] [int] NULL,
	[id_agente] [int] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Tbl_Profile]    Script Date: 5/6/2026 1:52:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Tbl_Profile](
	[Id_Perfil] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[FechaNac] [date] NULL,
	[IdUser] [int] NULL,
	[Sexo] [nvarchar](50) NULL,
	[Foto] [nvarchar](max) NULL,
	[DNI] [nvarchar](50) NULL,
	[Correo_institucional] [nvarchar](50) NULL,
	[Id_Pais_Origen] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_InvestigatorProfile] PRIMARY KEY CLUSTERED 
(
	[Id_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Catalogo_Categoria] ADD  DEFAULT ((1)) FOR [isEditable]
GO
ALTER TABLE [dbo].[Detail_Movimiento] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF_prendas_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF_prendas_pventa]  DEFAULT ((0)) FOR [precio_venta]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF__prendas__vporcen__56E8E7AB]  DEFAULT ((0)) FOR [v_porcentage_etiqueta]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] ADD  CONSTRAINT [DF__Detail_Pr__defec__4CF5691D]  DEFAULT ('No') FOR [defectuoso]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] ADD  CONSTRAINT [DF__Detail_Pr__porce__4DE98D56]  DEFAULT ((0)) FOR [porcentage_descuento_maximo]
GO
ALTER TABLE [dbo].[Tbl_Cuotas_ModelComponent] ADD  DEFAULT ((0)) FOR [mora]
GO
ALTER TABLE [dbo].[Transaction_Movimiento] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Transaction_Movimiento] ADD  DEFAULT ((0)) FOR [is_transaction]
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [facturacion].[Tbl_Movimientos_Almacen] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [facturacion].[Transaccion_Recibos] ADD  DEFAULT ('0') FOR [no_factura]
GO
ALTER TABLE [facturacion].[Transaccion_Recibos] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [facturacion].[Transaccion_Recibos] ADD  DEFAULT ((0)) FOR [iva]
GO
ALTER TABLE [dbo].[Catalogo_Agentes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Agentes_Catalogo_Tipo_Agente] FOREIGN KEY([Id_Tipo_Agente])
REFERENCES [dbo].[Catalogo_Tipo_Agente] ([Id_Tipo_Agente])
GO
ALTER TABLE [dbo].[Catalogo_Agentes] CHECK CONSTRAINT [FK_Catalogo_Agentes_Catalogo_Tipo_Agente]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Cliente] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[Catalogo_Clasificacion_Cliente] ([id_clasificacion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Cliente]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Interes] FOREIGN KEY([id_clasificacion_interes])
REFERENCES [dbo].[Catalogo_Clasificacion_Interes] ([id_clasificacion_interes])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Interes]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Profesiones] FOREIGN KEY([id_profesion])
REFERENCES [dbo].[Catalogo_Profesiones] ([id_profesion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Profesiones]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Tipo_Identificacion] FOREIGN KEY([id_tipo_identificacion])
REFERENCES [dbo].[Catalogo_Tipo_Identificacion] ([id_tipo_identificacion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Tipo_Identificacion]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [users_departamento_fk] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [users_departamento_fk]
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent]  WITH CHECK ADD  CONSTRAINT [users_municipio_fk] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Catalogo_Clientes_ModelComponent] CHECK CONSTRAINT [users_municipio_fk]
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD  CONSTRAINT [cuentas_categoria_fk] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas] CHECK CONSTRAINT [cuentas_categoria_fk]
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD  CONSTRAINT [cuentas_sucursales_fk] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas] CHECK CONSTRAINT [cuentas_sucursales_fk]
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD  CONSTRAINT [facturas_sucursales_fk] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas] CHECK CONSTRAINT [facturas_sucursales_fk]
GO
ALTER TABLE [dbo].[Catalogo_Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Departamento_Catalogo_Nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[Catalogo_Nacionalidad] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[Catalogo_Departamento] CHECK CONSTRAINT [FK_Catalogo_Departamento_Catalogo_Nacionalidad]
GO
ALTER TABLE [dbo].[Catalogo_Inversores]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Municipio] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Catalogo_Inversores] CHECK CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Municipio]
GO
ALTER TABLE [dbo].[Catalogo_Inversores]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[Catalogo_Nacionalidad] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[Catalogo_Inversores] CHECK CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Nacionalidad]
GO
ALTER TABLE [dbo].[Catalogo_Municipio]  WITH CHECK ADD  CONSTRAINT [FK_municipio_departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Catalogo_Municipio] CHECK CONSTRAINT [FK_municipio_departamentos]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Catalogo_Clientes_ModelComponent] ([codigo_cliente])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Clientes]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Departamentos]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Municipios] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Municipios]
GO
ALTER TABLE [dbo].[Datos_Configuracion]  WITH CHECK ADD  CONSTRAINT [FK_Datos_Configuracion_Catalogo_Sucursales] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Datos_Configuracion] CHECK CONSTRAINT [FK_Datos_Configuracion_Catalogo_Sucursales]
GO
ALTER TABLE [dbo].[Detail_Movimiento]  WITH CHECK ADD  CONSTRAINT [Detail_Movimiento_FK] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[Transaction_Movimiento] ([id_movimiento])
GO
ALTER TABLE [dbo].[Detail_Movimiento] CHECK CONSTRAINT [Detail_Movimiento_FK]
GO
ALTER TABLE [dbo].[Detail_Movimiento]  WITH CHECK ADD FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([id_cuentas])
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [Detail_Prendas_categoria_FK] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Catalogo_Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [Detail_Prendas_categoria_FK]
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [Detail_Prendas_FK] FOREIGN KEY([numero_contrato])
REFERENCES [dbo].[Transaction_Contratos] ([numero_contrato])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [Detail_Prendas_FK]
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [Detail_Prendas_valoracion_FK] FOREIGN KEY([id_valoracion])
REFERENCES [dbo].[Transactional_Valoracion] ([id_valoracion])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [Detail_Prendas_valoracion_FK]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Prendas_Vehiculos_Detail_Prendas] FOREIGN KEY([numero_prenda])
REFERENCES [dbo].[Detail_Prendas] ([numero_prenda])
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] CHECK CONSTRAINT [FK_Detail_Prendas_Vehiculos_Detail_Prendas]
GO
ALTER TABLE [dbo].[Detail_Valores]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Valores_Transactional_Valoracion] FOREIGN KEY([id_valoracion])
REFERENCES [dbo].[Transactional_Valoracion] ([id_valoracion])
GO
ALTER TABLE [dbo].[Detail_Valores] CHECK CONSTRAINT [FK_Detail_Valores_Transactional_Valoracion]
GO
ALTER TABLE [dbo].[Detalle_Factura_Recibo]  WITH CHECK ADD  CONSTRAINT [detalle_factura_cuota_fk] FOREIGN KEY([id_cuota])
REFERENCES [dbo].[Tbl_Cuotas_ModelComponent] ([id_cuota])
GO
ALTER TABLE [dbo].[Detalle_Factura_Recibo] CHECK CONSTRAINT [detalle_factura_cuota_fk]
GO
ALTER TABLE [dbo].[Detalle_Factura_Recibo]  WITH CHECK ADD  CONSTRAINT [detalle_factura_recibo_fk] FOREIGN KEY([id_factura])
REFERENCES [facturacion].[Transaccion_Recibos] ([id_factura])
GO
ALTER TABLE [dbo].[Detalle_Factura_Recibo] CHECK CONSTRAINT [detalle_factura_recibo_fk]
GO
ALTER TABLE [dbo].[Permisos_Cuentas]  WITH CHECK ADD FOREIGN KEY([id_categoria_cuenta_origen])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Permisos_Cuentas]  WITH CHECK ADD FOREIGN KEY([id_categoria_cuenta_destino])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega]  WITH CHECK ADD  CONSTRAINT [Tbl_Acta_Entrega_FK] FOREIGN KEY([numero_contrato])
REFERENCES [dbo].[Transaction_Contratos] ([numero_contrato])
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega] CHECK CONSTRAINT [Tbl_Acta_Entrega_FK]
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega]  WITH CHECK ADD  CONSTRAINT [Tbl_Acta_Entrega_FK_1] FOREIGN KEY([numero_prenda])
REFERENCES [dbo].[Detail_Prendas] ([numero_prenda])
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega] CHECK CONSTRAINT [Tbl_Acta_Entrega_FK_1]
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega]  WITH CHECK ADD  CONSTRAINT [Tbl_Acta_Entrega_FK_2] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega] CHECK CONSTRAINT [Tbl_Acta_Entrega_FK_2]
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega]  WITH CHECK ADD  CONSTRAINT [Tbl_Acta_Entrega_FK_3] FOREIGN KEY([Id_Transaccion])
REFERENCES [facturacion].[Tbl_Transaccion] ([Id_Transaccion])
GO
ALTER TABLE [dbo].[Tbl_Acta_Entrega] CHECK CONSTRAINT [Tbl_Acta_Entrega_FK_3]
GO
ALTER TABLE [dbo].[Tbl_Cuotas_ModelComponent]  WITH CHECK ADD  CONSTRAINT [Tbl_Cuotas_FK] FOREIGN KEY([numero_contrato])
REFERENCES [dbo].[Transaction_Contratos] ([numero_contrato])
GO
ALTER TABLE [dbo].[Tbl_Cuotas_ModelComponent] CHECK CONSTRAINT [Tbl_Cuotas_FK]
GO
ALTER TABLE [dbo].[Transaction_Contratos]  WITH CHECK ADD  CONSTRAINT [Transaction_Contratos_FK] FOREIGN KEY([codigo_cliente])
REFERENCES [dbo].[Catalogo_Clientes_ModelComponent] ([codigo_cliente])
GO
ALTER TABLE [dbo].[Transaction_Contratos] CHECK CONSTRAINT [Transaction_Contratos_FK]
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Catalogo_Inversores] FOREIGN KEY([id_inversor])
REFERENCES [dbo].[Catalogo_Inversores] ([id_inversor])
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas] CHECK CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Catalogo_Inversores]
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas] CHECK CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Security_Users]
GO
ALTER TABLE [dbo].[Transactional_Valoracion]  WITH CHECK ADD  CONSTRAINT [FK_Transactional_Valoracion_Catalogo_Estados_Articulos] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Catalogo_Estados_Articulos] ([id_estado_articulo])
GO
ALTER TABLE [dbo].[Transactional_Valoracion] CHECK CONSTRAINT [FK_Transactional_Valoracion_Catalogo_Estados_Articulos]
GO
ALTER TABLE [dbo].[Transactional_Valoracion]  WITH CHECK ADD  CONSTRAINT [Transactional_Valoracion_categoria_FK] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Catalogo_Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Transactional_Valoracion] CHECK CONSTRAINT [Transactional_Valoracion_categoria_FK]
GO
ALTER TABLE [facturacion].[Cat_Producto]  WITH CHECK ADD  CONSTRAINT [FK_Cat_Producto_Cat_Categorias] FOREIGN KEY([Id_Categoria])
REFERENCES [facturacion].[Cat_Categorias] ([Id_Categoria])
GO
ALTER TABLE [facturacion].[Cat_Producto] CHECK CONSTRAINT [FK_Cat_Producto_Cat_Categorias]
GO
ALTER TABLE [facturacion].[Cat_Producto]  WITH CHECK ADD  CONSTRAINT [fk_catalogo_productos_catalogo_marcas] FOREIGN KEY([Id_Marca])
REFERENCES [facturacion].[Cat_Marca] ([Id_Marca])
GO
ALTER TABLE [facturacion].[Cat_Producto] CHECK CONSTRAINT [fk_catalogo_productos_catalogo_marcas]
GO
ALTER TABLE [facturacion].[Detalle_Compra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Compra_Cat_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [facturacion].[Cat_Producto] ([Id_Producto])
GO
ALTER TABLE [facturacion].[Detalle_Compra] CHECK CONSTRAINT [FK_Detalle_Compra_Cat_Producto]
GO
ALTER TABLE [facturacion].[Detalle_Compra]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Compra_Tbl_Compra] FOREIGN KEY([Id_Compra])
REFERENCES [facturacion].[Tbl_Compra] ([Id_Compra])
GO
ALTER TABLE [facturacion].[Detalle_Compra] CHECK CONSTRAINT [FK_Detalle_Compra_Tbl_Compra]
GO
ALTER TABLE [facturacion].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura_Cat_Producto] FOREIGN KEY([Id_Producto])
REFERENCES [facturacion].[Cat_Producto] ([Id_Producto])
GO
ALTER TABLE [facturacion].[Detalle_Factura] CHECK CONSTRAINT [FK_Detalle_Factura_Cat_Producto]
GO
ALTER TABLE [facturacion].[Detalle_Factura]  WITH CHECK ADD  CONSTRAINT [Tblion_factura_detalle_transaccion_factura] FOREIGN KEY([Id_Factura])
REFERENCES [facturacion].[Tbl_Factura] ([Id_Factura])
GO
ALTER TABLE [facturacion].[Detalle_Factura] CHECK CONSTRAINT [Tblion_factura_detalle_transaccion_factura]
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen]  WITH CHECK ADD FOREIGN KEY([Id_Lote])
REFERENCES [facturacion].[Tbl_Lotes] ([Id_Lote])
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen]  WITH CHECK ADD  CONSTRAINT [Tbl_baja_Entrega_FK_2] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen] CHECK CONSTRAINT [Tbl_baja_Entrega_FK_2]
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen]  WITH CHECK ADD  CONSTRAINT [Tbl_baja_Entrega_FK_3] FOREIGN KEY([Id_Transaccion])
REFERENCES [facturacion].[Tbl_Transaccion] ([Id_Transaccion])
GO
ALTER TABLE [facturacion].[Tbl_Bajas_Almacen] CHECK CONSTRAINT [Tbl_baja_Entrega_FK_3]
GO
ALTER TABLE [facturacion].[Tbl_Compra]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Compra_Cat_Proveedor] FOREIGN KEY([Id_Proveedor])
REFERENCES [facturacion].[Cat_Proveedor] ([Id_Proveedor])
GO
ALTER TABLE [facturacion].[Tbl_Compra] CHECK CONSTRAINT [FK_Tbl_Compra_Cat_Proveedor]
GO
ALTER TABLE [facturacion].[Tbl_Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Lotes_Cat_Almacenes] FOREIGN KEY([Id_Almacen])
REFERENCES [facturacion].[Cat_Almacenes] ([Id_Almacen])
GO
ALTER TABLE [facturacion].[Tbl_Lotes] CHECK CONSTRAINT [FK_Tbl_Lotes_Cat_Almacenes]
GO
ALTER TABLE [facturacion].[Tbl_Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Lotes_Detalle_Compra] FOREIGN KEY([Id_Detalle_Compra])
REFERENCES [facturacion].[Detalle_Compra] ([Id_Detalle_Compra])
GO
ALTER TABLE [facturacion].[Tbl_Lotes] CHECK CONSTRAINT [FK_Tbl_Lotes_Detalle_Compra]
GO
ALTER TABLE [facturacion].[Tbl_Movimientos_Almacen]  WITH CHECK ADD FOREIGN KEY([Id_Lote_Original])
REFERENCES [facturacion].[Tbl_Lotes] ([Id_Lote])
GO
ALTER TABLE [facturacion].[Tbl_Movimientos_Almacen]  WITH CHECK ADD FOREIGN KEY([Id_Lote_Destino])
REFERENCES [facturacion].[Tbl_Lotes] ([Id_Lote])
GO
ALTER TABLE [facturacion].[Tbl_Movimientos_Almacen]  WITH CHECK ADD  CONSTRAINT [Tbl_mov_Entrega_FK_3] FOREIGN KEY([Id_Transaccion])
REFERENCES [facturacion].[Tbl_Transaccion] ([Id_Transaccion])
GO
ALTER TABLE [facturacion].[Tbl_Movimientos_Almacen] CHECK CONSTRAINT [Tbl_mov_Entrega_FK_3]
GO
ALTER TABLE [facturacion].[Tbl_Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Transaccion_Tbl_Lotes] FOREIGN KEY([Id_Lote])
REFERENCES [facturacion].[Tbl_Lotes] ([Id_Lote])
GO
ALTER TABLE [facturacion].[Tbl_Transaccion] CHECK CONSTRAINT [FK_Tbl_Transaccion_Tbl_Lotes]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Catalogo_Sucursales] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [security].[Security_Users] CHECK CONSTRAINT [FK_Security_Users_Catalogo_Sucursales]
GO
ALTER TABLE [security].[Security_Users]  WITH CHECK ADD  CONSTRAINT [Security_Users_FK] FOREIGN KEY([id_agente])
REFERENCES [dbo].[Catalogo_Agentes] ([id_agente])
GO
ALTER TABLE [security].[Security_Users] CHECK CONSTRAINT [Security_Users_FK]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'numero de reestructuraciones' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Transaction_Contratos', @level2type=N'COLUMN',@level2name=N'reestructurado'
GO
