/****** Object:  Database [EMPRE_SA]    Script Date: 2/9/2023 11:07:13 ******/
CREATE DATABASE [EMPRE_SA]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  DatabaseRole [administrative_access]    Script Date: 2/9/2023 11:07:13 ******/
CREATE ROLE [administrative_access]
GO
/****** Object:  Schema [administrative_access]    Script Date: 2/9/2023 11:07:13 ******/
CREATE SCHEMA [administrative_access]
GO
/****** Object:  Schema [security]    Script Date: 2/9/2023 11:07:13 ******/
CREATE SCHEMA [security]
GO
/****** Object:  Table [administrative_access].[Transactional_Configuraciones]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [administrative_access].[Transactional_Configuraciones](
	[Id_Configuracion] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Valor] [nvarchar](250) NULL,
	[Tipo_Configuracion] [varchar](100) NULL,
 CONSTRAINT [PK_Transactional_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[Id_Configuracion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Agentes]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Agentes](
	[id_agente] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](250) NULL,
	[fecha] [datetime] NULL,
	[Id_Tipo_Agente] [int] NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_agente] PRIMARY KEY CLUSTERED 
(
	[id_agente] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Cambio_Dolar]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Cambio_Dolar](
	[id_cambio] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[valor_de_compra] [float] NULL,
	[valor_de_venta] [float] NULL,
 CONSTRAINT [PK_cambioaldiadolar] PRIMARY KEY CLUSTERED 
(
	[id_cambio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Categoria]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[plazo_limite] [int] NOT NULL,
	[prioridad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[prioridad] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clasificacion_Cliente]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clasificacion_Cliente](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Clasificacion_Cliente] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clasificacion_Interes]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clasificacion_Interes](
	[id_clasificacion_interes] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
	[porcentaje] [float] NULL,
 CONSTRAINT [PK_Catalogo_Clasificacion_Interes] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion_interes] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Clientes]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Clientes](
	[codigo_cliente] [int] IDENTITY(148,1) NOT NULL,
	[primer_nombre] [nvarchar](50) NULL,
	[segundo_nombre] [nvarchar](50) NULL,
	[primer_apellido] [nvarchar](50) NULL,
	[segundo_apellidio] [nvarchar](50) NULL,
	[id_tipo_identificacion] [int] NULL,
	[identificacion] [nvarchar](50) NULL,
	[sexo] [nvarchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
	[id_profesion] [int] NULL,
	[id_departamento] [int] NULL,
	[id_municipio] [int] NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](500) NULL,
	[hora] [nvarchar](50) NULL,
	[fecha] [datetime] NULL,
	[observaciones] [nvarchar](300) NULL,
	[estado_civil] [nvarchar](50) NULL,
	[tipoc] [int] NULL,
	[tipo_firma] [nvarchar](50) NULL,
	[valor_cliente] [nvarchar](50) NULL,
	[operadora_celular] [nvarchar](50) NULL,
	[valor_interes] [float] NULL,
	[solo_acreedor] [nvarchar](50) NULL,
	[promedio] [float] NULL,
	[id_clasificacion] [int] NULL,
	[id_clasificacion_interes] [int] NULL,
 CONSTRAINT [PK_datosclientes] PRIMARY KEY CLUSTERED 
(
	[codigo_cliente] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Cuentas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Cuentas](
	[id_cuentas] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[tipo_cuenta] [varchar](10) NULL,
	[id_sucursal] [int] NULL,
	[id_categoria] [int] NULL,
	[saldo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuentas] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Departamento]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Departamento](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[id_nacionalidad] [int] NULL,
	[ponderacion] [int] NULL,
	[puntaje] [int] NULL,
	[clasificacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_departamentos] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Estados_Articulos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Estados_Articulos](
	[id_estado_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[descripcion] [nvarchar](500) NULL,
	[porcentaje_compra] [float] NULL,
	[porcentaje_empeno] [float] NULL,
 CONSTRAINT [PK_Catalogo_Estados_Articulos] PRIMARY KEY CLUSTERED 
(
	[id_estado_articulo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Inversores]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Inversores](
	[id_inversor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[direccion] [nvarchar](500) NULL,
	[id_municipio] [int] NULL,
	[estado_civil] [nvarchar](50) NULL,
	[identificacion] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[id_nacionalidad] [int] NULL,
 CONSTRAINT [PK_iversor] PRIMARY KEY CLUSTERED 
(
	[id_inversor] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Municipio]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Municipio](
	[id_municipio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[id_departamento] [int] NULL,
 CONSTRAINT [PK_municipio] PRIMARY KEY CLUSTERED 
(
	[id_municipio] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Nacionalidad]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Nacionalidad](
	[id_nacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[nacionalidad] [nvarchar](50) NULL,
	[ponderacion] [int] NULL,
	[puntaje] [int] NULL,
	[clasificacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_nacionalidades] PRIMARY KEY CLUSTERED 
(
	[id_nacionalidad] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Profesiones]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Profesiones](
	[id_profesion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_profesiones] PRIMARY KEY CLUSTERED 
(
	[id_profesion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Sucursales]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Sucursales](
	[Id_Sucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Direccion] [nvarchar](500) NULL,
	[id_municipio] [int] NULL,
 CONSTRAINT [PK_Catalogo_Sucursales] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Tipo_Agente]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Tipo_Agente](
	[Id_Tipo_Agente] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Tipo_Agente] PRIMARY KEY CLUSTERED 
(
	[Id_Tipo_Agente] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Tipo_Identificacion]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Tipo_Identificacion](
	[id_tipo_identificacion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Catalogo_Tipo_Identificacion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_identificacion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catalogo_Tipo_Transaccion]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogo_Tipo_Transaccion](
	[id_tipo_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_id_tipo_transaccion] PRIMARY KEY CLUSTERED 
(
	[id_tipo_transaccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Cuentas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Cuentas](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Condicion_Laboral_Cliente]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condicion_Laboral_Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[fecha_ingreso] [date] NULL,
	[ocupacion_cargo] [varchar](255) NULL,
	[ingresos_mensuales] [float] NULL,
	[direccion] [varchar](600) NULL,
	[id_municipio] [int] NULL,
	[id_departamento] [int] NULL,
	[nombre_empresa] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_Configuracion]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_Configuracion](
	[Id_Sucursal] [int] NOT NULL,
	[Encabezado] [nvarchar](150) NOT NULL,
	[AutoDebito] [bit] NOT NULL,
 CONSTRAINT [PK_Datos_Configuracion_1] PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Movimiento]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Movimiento](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_movimiento] [int] NULL,
	[id_cuenta] [int] NULL,
	[debito] [float] NULL,
	[credito] [float] NULL,
	[tasa_cambio] [float] NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Prendas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Prendas](
	[numero_prenda] [int] IDENTITY(1,1) NOT NULL,
	[numero_contrato_OLD] [int] NULL,
	[Descripcion] [varchar](200) NULL,
	[pprenda] [float] NULL,
	[Tipo] [nvarchar](50) NULL,
	[marca] [nvarchar](50) NULL,
	[serie] [nvarchar](50) NULL,
	[modelo] [nvarchar](50) NULL,
	[iva] [nvarchar](50) NULL,
	[margen] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NULL,
	[interesl] [float] NULL,
	[moral] [float] NULL,
	[fliquidacion] [datetime] NULL,
	[precio_venta] [float] NULL,
	[en_manos_de] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[factura] [nvarchar](50) NULL,
	[tipo_movimiento] [nvarchar](50) NULL,
	[uso] [nvarchar](50) NULL,
	[servicio] [nvarchar](50) NULL,
	[v_porcentage_etiqueta] [float] NULL,
	[numero_contrato] [int] NULL,
	[id_categoria] [int] NULL,
	[id_valoracion] [int] NULL,
 CONSTRAINT [PK_prendas] PRIMARY KEY CLUSTERED 
(
	[numero_prenda] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Prendas_Vehiculos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Prendas_Vehiculos](
	[numero_prenda] [int] NOT NULL,
	[capacidad_cilindros] [nvarchar](50) NULL,
	[cantidad_cilindros] [nvarchar](50) NULL,
	[cantidad_pasajeros] [nvarchar](50) NULL,
	[year_vehiculo] [int] NULL,
	[montor] [nvarchar](50) NULL,
	[chasis] [nvarchar](50) NULL,
	[placa] [nvarchar](50) NULL,
	[circuacion] [nvarchar](50) NULL,
	[defectuoso] [nvarchar](50) NULL,
	[fecha_aut_descuento] [datetime] NULL,
	[defecto] [varchar](300) NULL,
	[porcentage_descuento_maximo] [float] NULL,
	[fecha_seguro] [datetime] NULL,
	[combustible] [nvarchar](50) NULL,
 CONSTRAINT [PK_prendas_VEHICULOS] PRIMARY KEY CLUSTERED 
(
	[numero_prenda] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Valores]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Valores](
	[id_valoracion] [int] NOT NULL,
	[Valoracion_1] [float] NULL,
	[Valoracion_2] [float] NULL,
	[Valoracion_3] [float] NULL,
	[dolares_1] [float] NULL,
	[dolares_2] [float] NULL,
	[dolares_3] [float] NULL,
 CONSTRAINT [PK_Detail_Valores] PRIMARY KEY CLUSTERED 
(
	[id_valoracion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos_Cuentas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos_Cuentas](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_categoria_cuenta_origen] [int] NULL,
	[id_categoria_cuenta_destino] [int] NULL,
	[permite_debito] [bit] NULL,
	[permite_credito] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Contratos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Contratos](
	[numero_contrato] [int] IDENTITY(1,1) NOT NULL,
	[fecha_contrato] [datetime] NULL,
	[fecha_cancelar] [datetime] NULL,
	[monto] [float] NULL,
	[interes] [float] NULL,
	[mora] [float] NULL,
	[estado] [nvarchar](50) NULL,
	[fecha_vencimiento] [datetime] NULL,
	[codigo_cliente] [int] NULL,
	[saldo] [float] NULL,
	[dias_mora] [int] NULL,
	[saldo_mora] [float] NULL,
	[fecha_baja] [datetime] NULL,
	[abonos] [float] NULL,
	[ultima_visita] [datetime] NULL,
	[tipo] [int] NULL,
	[entregado] [nvarchar](50) NULL,
	[interes_actual] [float] NULL,
	[observaciones] [nvarchar](600) NULL,
	[iva] [float] NULL,
	[margen] [float] NULL,
	[interesl] [float] NULL,
	[moral] [float] NULL,
	[descuento] [float] NULL,
	[util] [float] NULL,
	[taza_interes_cargos] [float] NULL,
	[taza_mora] [float] NULL,
	[fecha_mora] [datetime] NULL,
	[fecha_interes] [datetime] NULL,
	[taza_gestion_crediticia] [float] NULL,
	[Id_User_OLD] [int] NULL,
	[taza_cambio] [float] NULL,
	[id_agente] [int] NULL,
	[dkm] [float] NULL,
	[gasolinamonto] [float] NULL,
	[valorcad] [float] NULL,
	[plazo] [int] NULL,
	[cuotafija] [float] NULL,
	[montocuotaatrazadas] [float] NULL,
	[mes_pagado] [datetime] NULL,
	[tasa_hoy] [float] NULL,
	[numero_protocolo] [int] NULL,
	[valor_dolar] [float] NULL,
	[parciales] [float] NULL,
	[mora_parcial] [float] NULL,
	[interes_parcial] [float] NULL,
	[motivo_anulacion] [char](100) NULL,
	[idcatemp] [int] NULL,
	[cuota_fija_inicial] [float] NULL,
	[fecha_cancelar_inicial] [datetime] NULL,
	[plazo_inicial] [int] NULL,
	[dias_para_baja] [int] NULL,
	[Id_User] [int] NULL,
 CONSTRAINT [PK_contratos] PRIMARY KEY CLUSTERED 
(
	[numero_contrato] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Contratos_Inversionistas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Contratos_Inversionistas](
	[numero_cont] [int] IDENTITY(37,1) NOT NULL,
	[fecha] [date] NULL,
	[taza] [float] NULL,
	[monto_inicial] [float] NULL,
	[nombre_sustituto] [nvarchar](50) NULL,
	[identificacion_sustituto] [nvarchar](50) NULL,
	[direccion_sustituto] [nvarchar](50) NULL,
	[departamento_sus] [nvarchar](50) NULL,
	[municipio_sustituto] [nvarchar](50) NULL,
	[id_inversor] [int] NULL,
	[fecha_pago] [datetime] NULL,
	[fecha_ultimo_pago] [datetime] NULL,
	[saldo] [float] NULL,
	[montointeres] [float] NULL,
	[interes] [float] NULL,
	[fecha_restructura] [datetime] NULL,
	[Id_User] [int] NULL,
 CONSTRAINT [PK_contratoinversor] PRIMARY KEY CLUSTERED 
(
	[numero_cont] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Egresos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Egresos](
	[numero_egreso] [int] IDENTITY(1,1) NOT NULL,
	[monto] [float] NULL,
	[fecha] [datetime] NULL,
	[descripcion] [char](50) NULL,
	[nombre] [char](60) NULL,
	[banco] [char](10) NULL,
	[anulado] [char](2) NULL,
	[observaciones] [nvarchar](200) NULL,
	[tc] [float] NULL,
	[dolar] [float] NULL,
	[fanulado] [datetime] NULL,
 CONSTRAINT [PK_egresos] PRIMARY KEY CLUSTERED 
(
	[numero_egreso] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Facturas]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Facturas](
	[numero_factura] [int] IDENTITY(1,1) NOT NULL,
	[abono_de_cuota] [float] NULL,
	[mora] [float] NULL,
	[interes] [float] NULL,
	[total] [float] NULL,
	[numero_contrato] [int] NULL,
	[fecha] [datetime] NULL,
	[fecha_pago] [datetime] NULL,
	[inte] [float] NULL,
	[mor] [float] NULL,
	[dm] [int] NULL,
	[es] [nvarchar](50) NULL,
	[tot] [float] NULL,
	[an] [char](10) NULL,
	[pago_contado] [float] NULL,
	[saldo_monto] [float] NULL,
	[ABONO] [float] NULL,
	[descuento] [float] NULL,
	[fecha_mora] [datetime] NULL,
	[fecha_interes] [datetime] NULL,
	[taza_cambio] [float] NULL,
	[interes_actual] [float] NULL,
	[Id_User_OLD] [int] NULL,
	[fecha_grabado] [datetime] NULL,
	[mes_pagado] [datetime] NULL,
	[ultima_visita] [datetime] NULL,
	[dmpagadas] [float] NULL,
	[tipo] [nvarchar](50) NULL,
	[morac] [float] NULL,
	[interesc] [float] NULL,
	[abonoc] [float] NULL,
	[totalc] [float] NULL,
	[parciales] [float] NULL,
	[moraparcial] [float] NULL,
	[interesparcial] [float] NULL,
	[motivo_anulacion] [nvarchar](200) NULL,
	[reestructuraciond] [float] NULL,
	[reestructuracionc] [float] NULL,
	[numero_reestructuracion] [int] NULL,
	[fecha_cancelacion] [datetime] NULL,
	[docnoentregadod] [float] NULL,
	[docnoentregadoc] [float] NULL,
	[Id_User] [int] NULL,
 CONSTRAINT [PK_Transaction_Facturas] PRIMARY KEY CLUSTERED 
(
	[numero_factura] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Ingresos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Ingresos](
	[numero_ingreso] [int] IDENTITY(1,1) NOT NULL,
	[monto] [float] NULL,
	[fecha] [datetime] NULL,
	[descripcion] [char](50) NULL,
	[nombre] [char](60) NULL,
	[que] [int] NULL,
	[anulado] [char](2) NULL,
	[observaciones] [nvarchar](200) NULL,
	[tzcambio] [float] NULL,
	[total] [float] NULL,
	[fanulado] [datetime] NULL,
 CONSTRAINT [PK_ingresos] PRIMARY KEY CLUSTERED 
(
	[numero_ingreso] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Ingresos_Egresos]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Ingresos_Egresos](
	[id_transaccion] [int] NOT NULL,
	[id_tipo_transaccion] [int] NULL,
	[monto_dolares] [float] NULL,
	[tasa_cambio] [float] NULL,
	[monto_total] [float] NULL,
	[descripcion] [nvarchar](250) NULL,
	[nombre] [nvarchar](50) NULL,
	[id_cuenta] [int] NULL,
	[que] [int] NULL,
	[fecha_anulado] [datetime] NULL,
	[banco] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NULL,
	[numero_original] [int] NULL,
	[fecha] [datetime] NULL,
 CONSTRAINT [PK_Transaction_Ingresos_Egresos] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction_Movimiento]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction_Movimiento](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](250) NULL,
	[concepto] [nvarchar](250) NULL,
	[id_usuario_crea] [int] NULL,
	[fecha] [datetime] NULL,
	[tipo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactional_Valoracion]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactional_Valoracion](
	[id_valoracion] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Marca] [nvarchar](50) NULL,
	[Modelo] [nvarchar](50) NULL,
	[Tasa_interes] [float] NULL,
	[Plazo] [int] NULL,
	[Fecha] [datetime] NULL,
	[Tasa_de_cambio] [float] NULL,
	[id_estado] [int] NULL,
	[valoracion_compra_cordobas] [float] NULL,
	[valoracion_compra_dolares] [float] NULL,
	[valoracion_empeño_cordobas] [float] NULL,
	[valoracion_empeño_dolares] [float] NULL,
	[Serie] [varchar](150) NULL,
	[id_categoria] [int] NULL,
	[precio_venta_empeño_dolares] [float] NULL,
	[precio_venta_empeño_cordobas] [float] NULL,
 CONSTRAINT [PK_Transactional_Valoracion] PRIMARY KEY CLUSTERED 
(
	[id_valoracion] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions](
	[Id_Permission] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id_Permission] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Permissions_Roles]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Permissions_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_Permission] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Permissions_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_Permission] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Roles]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Roles](
	[Id_Role] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](150) NULL,
	[Estado] [nvarchar](50) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Mail] [nvarchar](150) NULL,
	[Token] [nvarchar](500) NULL,
	[Token_Date] [datetime] NULL,
	[Token_Expiration_Date] [datetime] NULL,
	[Id_Sucursal] [int] NULL,
	[id_agente] [int] NULL,
 CONSTRAINT [PK_Security_Users] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [security].[Security_Users_Roles]    Script Date: 2/9/2023 11:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [security].[Security_Users_Roles](
	[Id_Role] [int] NOT NULL,
	[Id_User] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_Security_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[Id_Role] ASC,
	[Id_User] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detail_Movimiento] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF_prendas_estado]  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF_prendas_pventa]  DEFAULT ((0)) FOR [precio_venta]
GO
ALTER TABLE [dbo].[Detail_Prendas] ADD  CONSTRAINT [DF__prendas__vporcen__56E8E7AB]  DEFAULT ((0)) FOR [v_porcentage_etiqueta]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] ADD  CONSTRAINT [DF__Detail_Pr__defec__4CF5691D]  DEFAULT ('No') FOR [defectuoso]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] ADD  CONSTRAINT [DF__Detail_Pr__porce__4DE98D56]  DEFAULT ((0)) FOR [porcentage_descuento_maximo]
GO
ALTER TABLE [dbo].[Transaction_Egresos] ADD  CONSTRAINT [DF_egresos_banco]  DEFAULT ('egreso') FOR [banco]
GO
ALTER TABLE [dbo].[Transaction_Egresos] ADD  CONSTRAINT [DF_egresos_anulado]  DEFAULT ('No') FOR [anulado]
GO
ALTER TABLE [dbo].[Transaction_Egresos] ADD  CONSTRAINT [DF_egresos_tc]  DEFAULT ((0)) FOR [tc]
GO
ALTER TABLE [dbo].[Transaction_Egresos] ADD  CONSTRAINT [DF_egresos_dolar]  DEFAULT ((0)) FOR [dolar]
GO
ALTER TABLE [dbo].[Transaction_Facturas] ADD  CONSTRAINT [DF_facturas_an]  DEFAULT ('No') FOR [an]
GO
ALTER TABLE [dbo].[Transaction_Facturas] ADD  CONSTRAINT [DF_facturas_pagocont]  DEFAULT ((0)) FOR [pago_contado]
GO
ALTER TABLE [dbo].[Transaction_Facturas] ADD  CONSTRAINT [DF_facturas_descuento]  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Transaction_Facturas] ADD  CONSTRAINT [DF_facturas_tzgastos]  DEFAULT ((0)) FOR [taza_cambio]
GO
ALTER TABLE [dbo].[Transaction_Ingresos] ADD  CONSTRAINT [DF_ingresos_que]  DEFAULT ((0)) FOR [que]
GO
ALTER TABLE [dbo].[Transaction_Ingresos] ADD  CONSTRAINT [DF_ingresos_anulado]  DEFAULT ('No') FOR [anulado]
GO
ALTER TABLE [dbo].[Transaction_Movimiento] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Catalogo_Agentes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Agentes_Catalogo_Tipo_Agente] FOREIGN KEY([Id_Tipo_Agente])
REFERENCES [dbo].[Catalogo_Tipo_Agente] ([Id_Tipo_Agente])
GO
ALTER TABLE [dbo].[Catalogo_Agentes] CHECK CONSTRAINT [FK_Catalogo_Agentes_Catalogo_Tipo_Agente]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Cliente] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[Catalogo_Clasificacion_Cliente] ([id_clasificacion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Cliente]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Interes] FOREIGN KEY([id_clasificacion_interes])
REFERENCES [dbo].[Catalogo_Clasificacion_Interes] ([id_clasificacion_interes])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Clasificacion_Interes]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Profesiones] FOREIGN KEY([id_profesion])
REFERENCES [dbo].[Catalogo_Profesiones] ([id_profesion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Profesiones]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Tipo_Identificacion] FOREIGN KEY([id_tipo_identificacion])
REFERENCES [dbo].[Catalogo_Tipo_Identificacion] ([id_tipo_identificacion])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [FK_Catalogo_Clientes_Catalogo_Tipo_Identificacion]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [users_departamento_fk] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [users_departamento_fk]
GO
ALTER TABLE [dbo].[Catalogo_Clientes]  WITH CHECK ADD  CONSTRAINT [users_municipio_fk] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Catalogo_Clientes] CHECK CONSTRAINT [users_municipio_fk]
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD  CONSTRAINT [cuentas_categoria_fk] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas] CHECK CONSTRAINT [cuentas_categoria_fk]
GO
ALTER TABLE [dbo].[Catalogo_Cuentas]  WITH CHECK ADD  CONSTRAINT [cuentas_sucursales_fk] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Catalogo_Cuentas] CHECK CONSTRAINT [cuentas_sucursales_fk]
GO
ALTER TABLE [dbo].[Catalogo_Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Departamento_Catalogo_Nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[Catalogo_Nacionalidad] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[Catalogo_Departamento] CHECK CONSTRAINT [FK_Catalogo_Departamento_Catalogo_Nacionalidad]
GO
ALTER TABLE [dbo].[Catalogo_Inversores]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Municipio] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Catalogo_Inversores] CHECK CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Municipio]
GO
ALTER TABLE [dbo].[Catalogo_Inversores]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[Catalogo_Nacionalidad] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[Catalogo_Inversores] CHECK CONSTRAINT [FK_Catalogo_Inversores_Catalogo_Nacionalidad]
GO
ALTER TABLE [dbo].[Catalogo_Municipio]  WITH CHECK ADD  CONSTRAINT [FK_municipio_departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Catalogo_Municipio] CHECK CONSTRAINT [FK_municipio_departamentos]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Catalogo_Clientes] ([codigo_cliente])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Clientes]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Catalogo_Departamento] ([id_departamento])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Departamentos]
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Laboral_Municipios] FOREIGN KEY([id_municipio])
REFERENCES [dbo].[Catalogo_Municipio] ([id_municipio])
GO
ALTER TABLE [dbo].[Condicion_Laboral_Cliente] CHECK CONSTRAINT [FK_Laboral_Municipios]
GO
ALTER TABLE [dbo].[Datos_Configuracion]  WITH CHECK ADD  CONSTRAINT [FK_Datos_Configuracion_Catalogo_Sucursales] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[Datos_Configuracion] CHECK CONSTRAINT [FK_Datos_Configuracion_Catalogo_Sucursales]
GO
ALTER TABLE [dbo].[Detail_Movimiento]  WITH CHECK ADD FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([id_cuentas])
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [Detail_Prendas_categoria_FK] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Catalogo_Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [Detail_Prendas_categoria_FK]
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [Detail_Prendas_valoracion_FK] FOREIGN KEY([id_valoracion])
REFERENCES [dbo].[Transactional_Valoracion] ([id_valoracion])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [Detail_Prendas_valoracion_FK]
GO
ALTER TABLE [dbo].[Detail_Prendas]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Prendas_Transaction_Contratos] FOREIGN KEY([numero_contrato])
REFERENCES [dbo].[Transaction_Contratos] ([numero_contrato])
GO
ALTER TABLE [dbo].[Detail_Prendas] CHECK CONSTRAINT [FK_Detail_Prendas_Transaction_Contratos]
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Prendas_Vehiculos_Detail_Prendas] FOREIGN KEY([numero_prenda])
REFERENCES [dbo].[Detail_Prendas] ([numero_prenda])
GO
ALTER TABLE [dbo].[Detail_Prendas_Vehiculos] CHECK CONSTRAINT [FK_Detail_Prendas_Vehiculos_Detail_Prendas]
GO
ALTER TABLE [dbo].[Detail_Valores]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Valores_Transactional_Valoracion] FOREIGN KEY([id_valoracion])
REFERENCES [dbo].[Transactional_Valoracion] ([id_valoracion])
GO
ALTER TABLE [dbo].[Detail_Valores] CHECK CONSTRAINT [FK_Detail_Valores_Transactional_Valoracion]
GO
ALTER TABLE [dbo].[Permisos_Cuentas]  WITH CHECK ADD FOREIGN KEY([id_categoria_cuenta_origen])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Permisos_Cuentas]  WITH CHECK ADD FOREIGN KEY([id_categoria_cuenta_destino])
REFERENCES [dbo].[Categoria_Cuentas] ([id_categoria])
GO
ALTER TABLE [dbo].[Transaction_Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Catalogo_Agentes] FOREIGN KEY([id_agente])
REFERENCES [dbo].[Catalogo_Agentes] ([id_agente])
GO
ALTER TABLE [dbo].[Transaction_Contratos] CHECK CONSTRAINT [FK_Transaction_Contratos_Catalogo_Agentes]
GO
ALTER TABLE [dbo].[Transaction_Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Catalogo_Clientes] FOREIGN KEY([codigo_cliente])
REFERENCES [dbo].[Catalogo_Clientes] ([codigo_cliente])
GO
ALTER TABLE [dbo].[Transaction_Contratos] CHECK CONSTRAINT [FK_Transaction_Contratos_Catalogo_Clientes]
GO
ALTER TABLE [dbo].[Transaction_Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [dbo].[Transaction_Contratos] CHECK CONSTRAINT [FK_Transaction_Contratos_Security_Users]
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Catalogo_Inversores] FOREIGN KEY([id_inversor])
REFERENCES [dbo].[Catalogo_Inversores] ([id_inversor])
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas] CHECK CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Catalogo_Inversores]
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [dbo].[Transaction_Contratos_Inversionistas] CHECK CONSTRAINT [FK_Transaction_Contratos_Inversionistas_Security_Users]
GO
ALTER TABLE [dbo].[Transaction_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Facturas_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [dbo].[Transaction_Facturas] CHECK CONSTRAINT [FK_Transaction_Facturas_Security_Users]
GO
ALTER TABLE [dbo].[Transaction_Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Facturas_Transaction_Contratos] FOREIGN KEY([numero_contrato])
REFERENCES [dbo].[Transaction_Contratos] ([numero_contrato])
GO
ALTER TABLE [dbo].[Transaction_Facturas] CHECK CONSTRAINT [FK_Transaction_Facturas_Transaction_Contratos]
GO
ALTER TABLE [dbo].[Transaction_Ingresos_Egresos]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Ingresos_Egresos_Catalogo_Cuentas] FOREIGN KEY([id_cuenta])
REFERENCES [dbo].[Catalogo_Cuentas] ([id_cuentas])
GO
ALTER TABLE [dbo].[Transaction_Ingresos_Egresos] CHECK CONSTRAINT [FK_Transaction_Ingresos_Egresos_Catalogo_Cuentas]
GO
ALTER TABLE [dbo].[Transaction_Ingresos_Egresos]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Ingresos_Egresos_id_tipo_transaccion] FOREIGN KEY([id_tipo_transaccion])
REFERENCES [dbo].[Catalogo_Tipo_Transaccion] ([id_tipo_transaccion])
GO
ALTER TABLE [dbo].[Transaction_Ingresos_Egresos] CHECK CONSTRAINT [FK_Transaction_Ingresos_Egresos_id_tipo_transaccion]
GO
ALTER TABLE [dbo].[Transactional_Valoracion]  WITH CHECK ADD  CONSTRAINT [FK_Transactional_Valoracion_Catalogo_Estados_Articulos] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Catalogo_Estados_Articulos] ([id_estado_articulo])
GO
ALTER TABLE [dbo].[Transactional_Valoracion] CHECK CONSTRAINT [FK_Transactional_Valoracion_Catalogo_Estados_Articulos]
GO
ALTER TABLE [dbo].[Transactional_Valoracion]  WITH CHECK ADD  CONSTRAINT [Transactional_Valoracion_categoria_FK] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Catalogo_Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Transactional_Valoracion] CHECK CONSTRAINT [Transactional_Valoracion_categoria_FK]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions] FOREIGN KEY([Id_Permission])
REFERENCES [security].[Security_Permissions] ([Id_Permission])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Permissions]
GO
ALTER TABLE [security].[Security_Permissions_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Permissions_Roles] CHECK CONSTRAINT [FK_Security_Permissions_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Catalogo_Sucursales] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[Catalogo_Sucursales] ([Id_Sucursal])
GO
ALTER TABLE [security].[Security_Users] CHECK CONSTRAINT [FK_Security_Users_Catalogo_Sucursales]
GO
ALTER TABLE [security].[Security_Users]  WITH CHECK ADD  CONSTRAINT [Security_Users_FK] FOREIGN KEY([id_agente])
REFERENCES [dbo].[Catalogo_Agentes] ([id_agente])
GO
ALTER TABLE [security].[Security_Users] CHECK CONSTRAINT [Security_Users_FK]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Roles] FOREIGN KEY([Id_Role])
REFERENCES [security].[Security_Roles] ([Id_Role])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Roles]
GO
ALTER TABLE [security].[Security_Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Security_Users_Roles_Security_Users] FOREIGN KEY([Id_User])
REFERENCES [security].[Security_Users] ([Id_User])
GO
ALTER TABLE [security].[Security_Users_Roles] CHECK CONSTRAINT [FK_Security_Users_Roles_Security_Users]
GO
