<!DOCTYPE html>
<html> 
<head>    
</head>
<body>   

    

    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EMPEÑOS Y PRÉSTAMOS S.A "EMPRE SA"
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Carazo - Nicaragua
    </p>
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;     
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“Tu  Prosperidad,  Es  Nuestro Éxito….”
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{fecha}}
    </p>
  
      <p style="font-size: 9.5px; margin-top: 0px; margin-bottom: 0px; text-align: left; padding-bottom: 0px;">No Contrato: {{numero_contrato}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RUC J0310000300895</p>    
          
      
  
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">Oficina Central 82572062 (Mov); 57199497 (Cl), 25353613 (Planta)</p>
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">CONTRATO DE MUTUO GARANTIZADO CON PRENDA COMERCIAL</p>
    


    <p style="text-align: justify; font-size:9.5px; margin-top:20px">Nosotros: Juan José Villavicencio Navarro, mayor de edad, casado, ingeniero Industrial, con cédula Nº 043-240688-0001M, Nicaragüense y de este domicilio de San Marcos, actuando en calidad de apoderado generalísimo 
      de la sociedad Anónima  denominada: " EMPEÑOS Y PRESTAMOS S.A " EMPRE S.A, Sociedad que es de este domicilio, constituida, autorizada y existente de conformidad a las leyes de la República de Nicaragua, en escritura pública #51, Constitución de Sociedad Anónima y estatutos,
       y bajo el asiento #10011, Pág. 229/245, Tomo 97, Libro segundo de sociedades del Registro público de Carazo, que por brevedad en lo sucesivo del presente contrato  se le podrá  denominar el ACREEDOR; siendo el domicilio: Del Instituto Juan XXIII, 20 varas al Oeste, 
       en el municipio de San Marcos, Departamento de Carazo, Dirección electrónica: empresociedadanonima@gmail.com; y por otra parte  el / la señor (a) : {{deudor}} mayor de edad,
        con número de cédula: {{cedula}}  con domicilio: {{direccion}} , Estado civil: {{estado_civil}}  quien habita en el municipio de: {{municipio}}, Departamento de {{departamento}}, 
       a quien en sucesivo se le denominará el "DEUDOR", hemos convenido en celebrar el presente    "CONTRATO DE MUTUO GARANTIZADO  CON PRENDA COMERCIAL" , el cual se regirá conforme las cláusulas siguientes:
       </p>
      <p style="text-align: justify; font-size:9.5px;">
        <u>1. PRIMERA (MONTO DE EMPEÑO):</u> El  deudor confiesa tener recibido de parte del acreedor, la cantidad de: C$ {{monto}}  , (  )  equivalente a moneda de los Estados Unidos de América: $ {{valor_dolar}}, (  ), Según el valor de la compra del dólar a la fecha de hoy de:{{taza_cambio}} C$ 
      </p>
      <p style="text-align: justify; font-size:9.5px;">
        <u>2. SEGUNDA (DESCRIPCION DE LOS BIENES EMPEÑADOS):</u> En garantía del pago a la cantidad debida, el deudor constituye a favor del acreedor prenda (s) comercial (es) sobre  el/los siguiente (s) bien (es):	
      </p>

      <div style="font-size: 10px;;">
        {{tabla_articulos}}
      </div>

    <p style="text-align: left; font-weight:bold;margin-top:10px;font-size:10px;">Observaciones:</p>    

    <p style="font-size:10px;">{{observaciones}}</p>

    <p style="text-align: justify; font-size:9.5px;"> <u>3. TERCERA (RESPONSABILIDAD LIMITADA DEL ACREEDOR):</u> El acreedor no se responsabiliza por deterioros de los bienes empeñados por consecuencias de  terremotos, inundaciones, incendios,  derrumbes, erupciones, y cualquier otro hecho social, natural o delictivo que atente contra la integridad física y funcional 
      de los bienes durante el tiempo de almacenamiento en las instalaciones del acreedor. Al momento de empeñar los bienes estos serán inspeccionados física y funcionalmente por el personal de atención a clientes, pero al momento de cancelación y entrega de los bienes, estos no serán probados funcionalmente,
       lo único que se verificará al deudor es su estructura física y los accesorios indicados en la descripción y observaciones plasmados en la cláusula dos de este contrato.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
     <u>4. CUARTA (PLAZO Y FORMA DE PAGO):</u> El deudor decide en cuantas cuotas mensuales cancela su empeño, siendo el plazo máximo de 3 meses para artículos electrónicos, 6 meses
       para artículos no electrónicos y 12 meses para automotores; los pagos se realizarán en cuotas fijas MENSUALES de  C$ {{cuota_fija_inicial}}, ( ), según el cambio del córdoba a dólar a la fecha de hoy  de: C$ {{taza_cambio}}   
       que serán modificables al tipo de cambio del dólar, en la fecha que el cliente haga efectivo su pago. Los pagos se realizarán en córdobas o el equivalente a $ {{valor_dolar}} , (  )   Estadounidenses, 
       Según tasa de cambio del Banco Central de Nicaragua,  iniciando la primera cuota mensual el día   y la última cuota mensual  el día  El deudor acepta  realizar sus pagos mensuales en  las  oficinas  del acreedor, 
       los pagos serán  todos  en  cuotas  fijas mensuales a como se muestra en la tabla de amortización de  deuda  por garantía prendaria indicada al final de este contrato. En ningún momento el deudor podrá cancelar el 
       monto total de su empeño, sin antes haber pagado mora (en caso de incurrir, hasta un máximo de 20 días en mora), interés neto corriente,  más los demás cargos a pagar en relación con lo pactado mensuales. 
       En caso que sea imposible para el deudor cumplir con su abono pactado, este podrá pagar al acreedor de forma mensual, la mora, el interés neto corriente y demás cargos a pagar en relación con lo pactado. 
       El deudor no debe presentarse a cancelar hasta la última fecha de pago que se muestra en la tabla de amortización al final de este contrato sin antes haber realizado los pagos respetivos mensuales de todas las fechas anteriores que se muestran en esta misma tabla; 
       porque de no realizar pagos mensuales e incurrir en 21 días  mora su artículo estará en liquidación.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
    <u>5. QUINTA (INTERES CORRIENTE Y DEMÁS CARGOS MENSUALES A PAGAR EN RELACION CON LO PACTADO):</u> El monto de empeño devengará una tasa de interés corriente inicial del uno por ciento (1%) sobre saldo, 
      la cual será verificable mensualmente de acuerdo a la tasa promedio ponderada que emita el Banco Central de Nicaragua. Los demás cargos a pagar en relación con lo pactado bajo lo cual EMPRE S.A estipula lo siguiente:
       Cinco por ciento  (5%) de Gastos administrativos, uno por ciento (1%) de gastos legales, uno por ciento (1%) de Comisiones, uno por ciento (1%) de mantenimiento al valor de   la prenda, 0 de Gestiones crediticias; 
       Todos estos demás cargos son aplicados sobre el saldo actual.	
    </p>
    <p style="text-align: justify; font-size:9.5px;">
    <u>6. SEXTA ( MORA):</u> El  deudor podrá realizar el pago de su cuota anticipada a su fecha de pago,  con el  fin de evitarse mora; En caso que  el Deudor  no pague en la fecha de cada cuota mensual,
       automáticamente quedará constituido en mora y por el sólo hecho  de incumplimiento, y desde esa fecha hasta  el pago efectivo de su cuota, reconocerá al acreedor un factor mora de  aplicado a la cuota fija,
        equivalente a C$,( ) por cada día transcurrido en mora hasta el pago efectivo de su cuota.
    </p>
    <p style="text-align: justify; font-size:9.5px;"> <u> 7. SEPTIMA (PÉRDIDA DE LA(S) GARANTIA(S)):</u> El deudor debe realizar sus pagos mensuales, pero si llegase a 21 días en mora el deudor pierde total derecho sobre  la (s) garantía (s) descrita(s) bajo el común acuerdo de este contrato, para lo cual el ACREEDOR tendrá el total derecho de poner a la venta la(s) garantía(s), no obstante el mismo 
    deudor podrá recuperar sus bienes mediante la compra de los mismos a través de una factura de compra al contado o de sistema de apartado, siempre y cuando el/los bien(es) aún esté (n) en el inventario de venta del ACREEDOR. 
    </p>
    <p style="text-align: justify; font-size:9.5px;">
      8. OCTAVA (PAGO ANTICIPADO): En caso que el deudor realice cancelación anticipada, las partes acuerdan que  el Deudor reconocerá y pagará únicamente el interés neto  más demás cargos en relación con lo pactado devengados al día de la cancelación anticipada. 
      En caso de abonos anticipados, estos se aplicarán al principal del monto de empeño, con lo que no variará el plan de pagos del monto en relación a la periodicidad y fechas de las cuotas, sino en la proporción del monto de empeño e intereses de cada cuota, además, 
      en dependencia del monto del (los)  pago (s) anticipado (s) es posible que se reduzca el plazo total del empeño. Si el deudor cancela su contrato antes de los primeros treinta días después de haber firmado este contrato, deberá pagar el Interés neto corriente y todo lo demás cargos a pagar en relación con lo pactado correspondiente a un mes, 
      al cancelar después del primer mes, pagará únicamente los recargos sobre los días transcurridos hasta la fecha de su cancelación.
      </p>
     <p style="text-align: justify; font-size:9.5px;">
     <u>9. DECIMA (REEMPEÑO):</u> Una vez cancelado el contrato, los bienes podrán ser empeñados nuevamente después de 24 horas, aplica para artículos electrónicos o que se demuestre que el tiempo puede impactar en su rendimiento y funcionamiento. 
      En caso que el/los bien (es) haya(n) sido empeñado en un menor plazo del permitido (3meses), se podrá re empeñar inmediatamente sin necesidad de sacarse  del almacenamiento para validación funcional, el nuevo plazo en el contrato de re empeño quedara definido Por la diferencia del plazo máximo permitido y el plazo del contrato anterior.
     </p> 
     <p style="text-align: justify; font-size:9.5px;">
      <u>10. DECIMA PRIMERA (DERECHOS DEL DEUDOR):</u> El Deudor tiene los siguientes derechos de conformidad con la Norma sobre la transparencia de las operaciones: A.  A ser informados de forma clara, completa, 
      oportuna y adecuada de los  servicios del acreedor y adicionalmente de recibir información fiscal básica: B. Recibir información previa antes de la suscripción del contrato: El acreedor le  pondrá a disposición el contrato, 
      para que este tenga en su poder una copia del mismo. C. Información durante la vigencia de la obligación: A que de previo a la firma del contrato,  tiene el derecho de solicitar aclaraciones sobre el contrato y cada una de sus cláusulas. 
      D. Atención de El acreedor por medio de sus funcionarios u oficina de atención al público: El Deudor tiene el derecho de ser atendido oportuna y diligentemente con un trato adecuado por parte del acreedor y que se respete su privacidad siempre y cuando cumpla con las obligaciones aquí  contraídas. 
      A que se le respondan sus reclamos, quejas y consultas, en los horarios de oficina (Lunes a viernes de 8:00 am  - 4:30 Pm y Sábados de 8:30 am  - 11:00 Am). E	.la información es brindada únicamente al deudor.
     </p>
     <p style="text-align: justify; font-size:9.5px;">
       <u>11. DECIMA SEGUNDA (OBLIGACIONES DEL DEUDOR):</u> El Deudor se obliga expresamente a lo siguiente: A. Debe leer de previo el contrato y solicitar aclaraciones al acreedor. B. A suministrar al acreedor toda la información que éste le solicite sobre la garantía descrita en este contrato. 
        C. A entregar la copia del contrato al momento de la cancelación del mismo, en caso de pérdida debe de pagar la cantidad de $ 1.00 (Un dólar) o su equivalente en córdobas por pérdida de documento. 
        D. En caso de que el/los bien (es) no pueda (n) ser retirados por el DEUDOR, este podrá enviar a un tercero quién deberá presentar: su cédula original más cedula original del DEUDOR y el contrato privado, de faltar uno de estos tres documentos NO se entregarán el/los bien (es) empeñados a terceras personas. 
        E. El deudor se obliga a pagar la cantidad de $ 1.00 (Un dólar) o su equivalente en córdobas  por reestructuración de este contrato.
     </p>
     <p style="text-align: justify; font-size:9.5px;">
      12. DECIMA TERCERA (REGIMEN LEGAL): El presente contrato, y todos los derechos o actos que se deriven o sean consecuencia del mismo, quedan sometidos a la Ley 842,   ley 176,  ley 146, Código Civil, Código de Comercio y demás  leyes de la República de  Nicaragua.	
     </p>
     <p style="text-align: justify; font-size:9.5px;">
      <u>13. DECIMA CUARTA (ACEPACCIÓN):</u> Los comparecientes declaran expresamente que aceptan el presente contrato con los términos relacionados, Y leído el presente  contrato  por  las  partes  lo  encontramos  conforme,  aprobamos,  ratificamos  y  firmamos,  en  la  ciudad  de San Marcos a los  {{dias}} dias del mes {{mes}} del año {{anio}}.
     </p><br></br>     
     <table border="0" cellspacing="0" cellpadding="0" width="1800px" style="width: 1400px; margin-left:30px">
        <tbody>
           <tr style="height:25.45pt">
              <td width="84" rowspan="2" style="width:73.3pt;border-left:solid black 1px;border-top:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black; margin:20px">CAPITAL PRESTADO C$</span>
              </td>
              <td width="66" rowspan="2" style="width:49.6pt;border-top:solid black 1px;border-left:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="459" colspan="9" rowspan="4" style="width:394.3pt;border:solid black 1px;border-left:solid black 1px;border-bottom:solid black 1px;border-right:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">
                    &nbsp;
                 </span>
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">
                    &nbsp;
                 </span>
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black;width:100%;text-align:center;">TABLA DE AMORTIZACION DE DEUDA POR GARANTIA
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRENDARIA</span>
                 
              </td>
              <td width="91" colspan="2" rowspan="2" style="width:68.2pt;border-top:solid black 1px;border-bottom:solid black 1px;border-left:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">CUOTA C$</span>
              </td>
              <td width="65" colspan="2" rowspan="2" style="width:48.7pt;border:solid black 1px;border-left:solid black 1px;border-bottom:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>              
           </tr>
           
           <tr style="height:25.45pt">
              <td width="84" rowspan="2" style="width:63.3pt;border-left:solid black 1px;border-top:solid black 1px;border-top:solid black 1px;padding:0cm 5px 0cm 5px;height:
                 25.45pt">
                 $
              </td>
              <td width="66" rowspan="2" style="width:49.6pt;border-left:solid black 1px;border-top:solid black 1px;font-size:9.0pt;">
                 $ 
              </td>
              <td width="91" colspan="2" rowspan="2" style="width:68.2pt;border-top:solid black 1px;border-left:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">CUOTA FIJA <br>$</br></span>                 
              </td>
              <td width="65" colspan="2" rowspan="2" style="width:48.7pt;border-top:solid black 1px;border-left:solid black 1px;border-right:solid black 1px;">
                 $ {{cuotafija}}
              </td>
              
           </tr>
           
           <tr style="height:25.45pt">
              <td width="84" rowspan="2" style="width:63.3pt;border-left:solid black 1px;border-left:solid black 1px;border-top:solid black 1px;padding:0cm 5px 0cm 5px;height:25.45pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;">PLAZO PARA CANCELAR</span>
              </td>
              <td width="66" rowspan="2" style="width:49.6pt;border-left:solid black 1px;border-top:solid black 1px;">
                <p style="font-size:10px">{{plazo_cancelar}}</p>
              </td>
              <td width="81" colspan="2" rowspan="2" style="width:60.75pt;border-left:solid black 1px;border-top:solid black 1px;">
                 <p  style="margin-bottom:0cm;text-align:center;line-height:normal">
                    <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">INTERÉS NETO CORRIENTE (a)</span>
                 </p>
              </td>
              <td width="104" colspan="2" rowspan="2" style="width:77.95pt;border-left:solid black 1px;border-top:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">Demás cargos a pagar en relación con lo pactado (b)</span>
              </td>
              <td width="104" colspan="2" rowspan="6" style="width:78.0pt;border-left:solid black 1px;border-top:solid black 1px; padding:5px">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">Interés Neto corriente más demás cargos a
                 pagar en relación con lo pactado</span>
              </td>
              <td width="104" colspan="2" rowspan="6" style="width:77.95pt;border-top:solid black 1px;border-left:solid black 1px;border-right:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">ABONO AL CAPITAL</span>
              </td>
              <td width="113" colspan="2" rowspan="6" style="width:85.1pt;border-top:solid black 1px;border-right:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">TOTAL A PAGAR</span>
              </td>
              <td width="109" colspan="3" rowspan="6" style="width:81.45pt;border-top:solid black 1px;border-left:solid black 1px;border-right:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">MONTO RESTANTE</span>
              </td>              
           </tr>           
           <tr style="height:25.45pt;">
              <td width="151" colspan="2" rowspan="5" style="width:112.9pt;border-left:solid black 1px;border-bottom:solid black 1px;border-top:solid black 1px;padding:0cm 5px 0cm 5px;height:
                 25.45pt"><span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FECHAS DE PAGO</span>
              </td>
              <td width="81" colspan="2" rowspan="4" style="width:60.75pt;border-top:solid black 1px;border-left:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">1%</span>
              </td>
              <td width="104" colspan="2" rowspan="4" style="width:77.95pt;border-top:solid black 1px;border-left:solid black 1px;">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">%</span>
              </td>
              
           </tr>
          
           <tr style="height:10.65pt">
              <td width="43" style="width:32.4pt;border-left:solid black 1px;border-top:solid black 1px;border-bottom:
                 solid black 1px;padding:0cm 5px 0cm 5px;height:
                 10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="38" style="width:1.0cm;border-left:solid black 1px;border-top:solid black 1px;border-bottom:
                 solid black 1px;padding:0cm 5px 0cm 5px;height:
                 10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">$</span>
              </td>
              <td width="57" style="width:42.55pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="47" style="width:35.4pt;border-left:solid black 1px;border-top:solid black 1px;border-bottom:
                 solid black 1px;padding:0cm 5px 0cm 5px;height:
                 10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">$</span>
              </td>
              <td width="57" style="width:42.55pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="47" style="width:35.45pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">$</span>
              </td>
              <td width="57" style="width:42.5pt;border-left:solid black 1px;border-top:solid black 1px;border-bottom:
                 solid black 1px;padding:0cm 5px 0cm 5px;height:
                 10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="47" style="width:35.45pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">$</span>
              </td>
              <td width="66" style="width:49.65pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">C$</span>
              </td>
              <td width="47" style="width:35.45pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;font-family:Times New Roman,serif;color:black">$</span>
              </td>
              <td width="66" colspan="2" style="width:49.6pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;
                    font-family:Times New Roman,serif;
                    color:black">C$</span>
              </td>
              <td width="42" style="width:31.85pt;border-left:solid black 1px;border-top:solid black 1px;
                 border-bottom:solid black 1px;border-right:solid black 1px;padding:0cm 5px 0cm 5px;
                 height:10.65pt">
                 <span lang="ES-NI" style="font-size:9.0pt;
                    font-family:Times New Roman,serif;
                    color:black">$</span>
              </td>
          </tr>         
        </tbody>
     </table>
     
    <p style="text-align:left; font-size:10px; margin-top:50px; padding-bottom:0px; margin-bottom:0px;">Deudor:{{deudor}}</p>
    <p style="text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;">Cédula: {{cedula}}</p>
    <p style="text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;">Cel:{{telefono}}</p>

</body>
</html>