
<html>
<head>
<title>D:\uploadedFiles\6a4f4674f0fb4c5172222f83cf93-31944ee9273918a7\p1h5sgarpg19ki1bkn3aopvhkeu4.pdf</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 19.3px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="page_001.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_66:41" style="top:41;left:66">
<span id="_14.8" style=" font-family:Times New Roman; font-size:14.8px; color:#1f497d">
Contrato #</span>
</div>
<div class="pos" id="_619:36" style="top:36;left:619">
<span id="_14.8" style=" font-family:Times New Roman; font-size:14.8px; color:#001f5f">
Carazo - Nicaragua Fecha de </span>
</div>
<div class="pos" id="_291:50" style="top:50;left:291">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
EMPE&#209;OS Y PR&#201;STAMOS S.A <U>"</U><U>E</U><U>M</U><U>P</U><U>R</U><U>E</U><U> </U><U>S</U><U>A</U><U>"</U>                                                                                              </span>
</div>
<div class="pos" id="_311:65" style="top:65;left:311">
<span id="_11.6" style=" font-family:Times New Roman; font-size:11.6px; color:#000000">
<U>&#147;</U>Tu  Prosperidad,  Es  Nuestro &#201;xito&#133;.&#148;                                                                   </span>
</div>
<div class="pos" id="_644:56" style="top:56;left:644">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#001f5f">
Impresi&#243;n<span style=" font-family:Arial"> </span> d/M/yyyy </span>
</div>
<div class="pos" id="_352:79" style="top:79;left:352">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
  RUC J0310000300895</span>
</div>
<div class="pos" id="_656:76" style="top:76;left:656">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#001f5f">
HH:mm:am/pm" </span>
</div>
<div class="pos" id="_241:94" style="top:94;left:241">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
Oficina Central 82572062 (Mov); 57199497 (Cl), 25353613 (Planta)</span>
</div>
<div class="pos" id="_620:96" style="top:96;left:620">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#001f5f">
MERGEFORMAT 8/3/2023 </span>
</div>
<div class="pos" id="_218:108" style="top:108;left:218">
<span id="_12.2" style=" font-family:Times New Roman; font-size:12.2px; color:#000000">
CONTRATO DE MUTUO GARANTIZADO CON PRENDA COMERCIAL</span>
</div>
<div class="pos" id="_49:136" style="top:136;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
Nosotros: Juan Jos&#233; Villavicencio Navarro, mayor de edad, casado, ingeniero Industrial, con c&#233;dula N&#186; 043-240688-0001M, Nicarag&#252;ense </span>
</div>
<div class="pos" id="_49:152" style="top:152;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
y de este domicilio de San Marcos, actuando en calidad de apoderado general&#237;simo de la sociedad An&#243;nima  denominada: " EMPE&#209;OS Y </span>
</div>
<div class="pos" id="_49:167" style="top:167;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
PRESTAMOS S.A " EMPRE S.A, Sociedad que es de este domicilio, constituida, autorizada y existente de conformidad a las leyes de la </span>
</div>
<div class="pos" id="_49:182" style="top:182;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
Rep&#250;blica de Nicaragua, en escritura p&#250;blica #51, Constituci&#243;n de Sociedad An&#243;nima y estatutos, y bajo el asiento #10011, P&#225;g. 229/245, </span>
</div>
<div class="pos" id="_49:197" style="top:197;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
Tomo 97, Libro segundo de sociedades del Registro p&#250;blico de Carazo, que por brevedad en lo sucesivo del presente contrato  se le podr&#225;  </span>
</div>
<div class="pos" id="_49:212" style="top:212;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
denominar el ACREEDOR; siendo el domicilio: Del Instituto Juan XXIII, 20 varas al Oeste, en el municipio de San Marcos, Departamento </span>
</div>
<div class="pos" id="_49:227" style="top:227;left:49">
<span id="_12.8" style=" font-family:Times New Roman; font-size:12.8px; color:#000000">
de Carazo, Direcci&#243;n electr&#243;nica: <U>e</U><U>m</U><U>p</U><U>r</U><U>e</U><U>s</U><U>o</U><U>c</U><U>i</U><U>e</U><U>d</U><U>a</U><U>d</U><U>a</U><U>n</U><U>o</U><U>n</U><U>i</U><U>m</U><U>a</U><U>[[]]</U><U>g</U><U>m</U><U>a</U><U>i</U><U>l</U><U>.</U><U>c</U><U>o</U><U>m</U>; y por otra parte  el / la se&#241;or (a) <span style="font-weight:bold"> : </span> mayor de edad, con n&#250;mero de </span>
</div>
<div class="pos" id="_50:243" style="top:243;left:50">
<span id="_13.4" style=" font-family:Times New Roman; font-size:13.4px; color:#000000">
c&#233;dula<span style="font-weight:bold"> : </span> con domicilio:<span style="font-weight:bold; color:#001f5f"> </span> , Estado civil:<span style="font-weight:bold; color:#001f5f">  </span> quien habita en el municipio de:<span style="font-weight:bold; color:#001f5f"> </span> , Departamento de<span style="font-weight:bold; color:#001f5f"> </span> , a quien en sucesivo se le denominar&#225; el    </span>
</div>
<div class="pos" id="_50:258" style="top:258;left:50">
<span id="_12.9" style=" font-family:Times New Roman; font-size:12.9px; color:#000000">
"DEUDOR", hemos convenido en celebrar el presente    "CONTRATO DE MUTUO GARANTIZADO  CON PRENDA COMERCIAL" </span>
</div>
<div class="pos" id="_50:273" style="top:273;left:50">
<span id="_12.9" style=" font-family:Times New Roman; font-size:12.9px; color:#000000">
, el cual se regir&#225; conforme las cl&#225;usulas siguientes:</span>
</div>
<div class="pos" id="_50:288" style="top:288;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
<U>1</U><U>.</U><U> </U><U>P</U><U>R</U><U>I</U><U>M</U><U>E</U><U>R</U><U>A</U><U> </U><U>(</U><U>M</U><U>O</U><U>N</U><U>T</U><U>O</U><U> </U><U>D</U><U>E</U><U> </U><U>E</U><U>M</U><U>P</U><U>E</U><U>&#209;</U><U>O</U><U>)</U><U>:</U> El deudor confiesa tener recibido de parte del acreedor, la cantidad de:<span style="font-weight:bold"> C$   , (  )  </span> equivalente </span>
</div>
<div class="pos" id="_50:304" style="top:304;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
a moneda de los Estados Unidos de Am&#233;rica: <span style="font-weight:bold"> $ , (  ), </span> Seg&#250;n el valor de la compra del d&#243;lar a la fecha de hoy<span style="font-weight:bold; color:#1f497d">    de: C$ </span></span>
</div>
<div class="pos" id="_50:320" style="top:320;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
<U> </U><U>2</U><U>.</U><U> </U><U>S</U><U>E</U><U>G</U><U>U</U><U>N</U><U>D</U><U>A</U><U> </U><U>(</U><U>D</U><U>E</U><U>S</U><U>C</U><U>R</U><U>I</U><U>P</U><U>C</U><U>I</U><U>O</U><U>N</U><U> </U><U>D</U><U>E</U><U> </U><U>L</U><U>O</U><U>S</U><U> </U><U>B</U><U>I</U><U>E</U><U>N</U><U>E</U><U>S</U><U> </U><U>E</U><U>M</U><U>P</U><U>E</U><U>&#209;</U><U>A</U><U>D</U><U>O</U><U>S</U><U>)</U><U>:</U><span style="font-weight:bold"><U> </U></span> En garant&#237;a del pago a la cantidad debida, el deudor constituye </span>
</div>
<div class="pos" id="_50:336" style="top:336;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
a favor del acreedor prenda (s) comercial (es) sobre el/los siguiente (s) bien (es):</span>
</div>
<div class="pos" id="_104:358" style="top:358;left:104">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
Bienes</span>
</div>
<div class="pos" id="_252:358" style="top:358;left:252">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
Color</span>
</div>
<div class="pos" id="_395:358" style="top:358;left:395">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
Marca</span>
</div>
<div class="pos" id="_544:358" style="top:358;left:544">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
Serie</span>
</div>
<div class="pos" id="_682:358" style="top:358;left:682">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
Modelo</span>
</div>
<div class="pos" id="_50:432" style="top:432;left:50">
<span id="_13.5" style="font-weight:bold; font-family:Times New Roman; font-size:13.5px; color:#000000">
Observaciones:  </span>
</div>
<div class="pos" id="_50:464" style="top:464;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
<U>3</U><U>.</U><U> </U><U>T</U><U>E</U><U>R</U><U>C</U><U>E</U><U>R</U><U>A</U><U> </U><U>(</U><U>R</U><U>E</U><U>S</U><U>P</U><U>O</U><U>N</U><U>S</U><U>A</U><U>B</U><U>I</U><U>L</U><U>I</U><U>D</U><U>A</U><U>D</U><U> </U><U>L</U><U>I</U><U>M</U><U>I</U><U>T</U><U>A</U><U>D</U><U>A</U><U> </U><U>D</U><U>E</U><U>L</U><U> </U><U>A</U><U>C</U><U>R</U><U>E</U><U>E</U><U>D</U><U>O</U><U>R</U><U>)</U><U>:</U> El acreedor no se responsabiliza por deterioros de los </span>
</div>
<div class="pos" id="_50:480" style="top:480;left:50">
<span id="_13.5" style=" font-family:Times New Roman; font-size:13.5px; color:#000000">
bienes empe&#241;ados por consecuencias de terremotos, inundaciones, incendios,  derrumbes, erupciones, y cualquier otro hecho social, </span>
</div>
<div class="pos" id="_50:496" style="top:496;left:50">
<span id="_14.0" style=" font-family:Times New Roman; font-size:14.0px; color:#000000">
natural o delictivo que atente contra la integridad f&#237;sica y funcional de los bienes durante el tiempo de almacenamiento en las </span>
</div>
<div class="pos" id="_50:512" style="top:512;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
instalaciones del acreedor. Al momento de empe&#241;ar los bienes estos ser&#225;n inspeccionados f&#237;sica y funcionalmente por el personal </span>
</div>
<div class="pos" id="_50:528" style="top:528;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
de atenci&#243;n a clientes, pero al momento de cancelaci&#243;n y entrega de los bienes, estos no ser&#225;n probados funcionalmente, lo &#250;nico </span>
</div>
<div class="pos" id="_50:544" style="top:544;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
que se verificar&#225; al deudor es su estructura f&#237;sica y los accesorios indicados en la descripci&#243;n y observaciones plasmados en la </span>
</div>
<div class="pos" id="_50:560" style="top:560;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
cl&#225;usula dos de este contrato.</span>
</div>
<div class="pos" id="_50:576" style="top:576;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
<U>4</U><U>.</U><U> </U><U>C</U><U>U</U><U>A</U><U>R</U><U>T</U><U>A</U><U> </U><U>(</U><U>P</U><U>L</U><U>A</U><U>Z</U><U>O</U><U> </U><U>Y</U><U> </U><U>F</U><U>O</U><U>R</U><U>M</U><U>A</U><U> </U><U>D</U><U>E</U><U> </U><U>P</U><U>A</U><U>G</U><U>O</U><U>)</U><U>:</U> <span id="_14.9" style=" font-size:14.9px"> El deudor decide en cuantas cuotas mensuales cancela su empe&#241;o, siendo el </span></span>
</div>
<div class="pos" id="_50:594" style="top:594;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
plazo  m&#225;ximo  de  3  meses  para  art&#237;culos  electr&#243;nicos,  6  meses  para  art&#237;culos  no  electr&#243;nicos  y  12  meses  para </span>
</div>
<div class="pos" id="_50:612" style="top:612;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
automotores; los pagos se realizar&#225;n en cuotas fijas MENSUALES de C<span style="font-weight:bold"> $ , ( ),</span> seg&#250;n el cambio del c&#243;rdoba a d&#243;lar a la </span>
</div>
<div class="pos" id="_49:629" style="top:629;left:49">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
fecha de hoy<span style="font-weight:bold"> </span> de: <span style="font-weight:bold"> C$   </span> que ser&#225;n modificables al tipo de cambio del d&#243;lar, en la fecha que el cliente haga efectivo su </span>
</div>
<div class="pos" id="_49:647" style="top:647;left:49">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
pago. Los pagos se realizar&#225;n en c&#243;rdobas o el equivalente a<span style="font-weight:bold; color:#001f5f"> $ , (  )   </span> Estadounidenses, Seg&#250;n tasa de cambio del Banco </span>
</div>
<div class="pos" id="_50:664" style="top:664;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
Central de Nicaragua,  iniciando la primera cuota mensual el d&#237;a<span style="font-weight:bold">   </span> y la &#250;ltima cuota mensual  el d&#237;a<span style="font-weight:bold; color:#001f5f">  </span> El deudor acepta  </span>
</div>
<div class="pos" id="_50:682" style="top:682;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
realizar sus pagos mensuales en  las  oficinas  del acreedor, los pagos ser&#225;n  todos  en  cuotas  fijas mensuales a como </span>
</div>
<div class="pos" id="_50:699" style="top:699;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
se muestra en la tabla de amortizaci&#243;n de  deuda  por garant&#237;a prendaria indicada al final de este contrato. En ning&#250;n </span>
</div>
<div class="pos" id="_50:717" style="top:717;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
momento el deudor podr&#225; cancelar el monto total de su empe&#241;o, sin antes haber pagado mora (en<span style="font-style:italic"> caso de incurrir, hasta </span></span>
</div>
<div class="pos" id="_50:735" style="top:735;left:50">
<span id="_14.9" style="font-style:italic; font-family:Times New Roman; font-size:14.9px; color:#000000">
un m&#225;ximo de 20 d&#237;as en mora<span style="font-style:normal"> ), inter&#233;s neto corriente,  m&#225;s los dem&#225;s cargos a pagar en relaci&#243;n con lo pactado </span></span>
</div>
<div class="pos" id="_50:752" style="top:752;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
mensuales. En caso que sea imposible para el deudor cumplir con su abono pactado, este podr&#225; pagar al acreedor de </span>
</div>
<div class="pos" id="_50:770" style="top:770;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
forma mensual, la mora, el inter&#233;s neto corriente y dem&#225;s cargos a pagar en relaci&#243;n con lo pactado. El deudor no debe </span>
</div>
<div class="pos" id="_50:787" style="top:787;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
presentarse a cancelar hasta la &#250;ltima fecha de pago que se muestra en la tabla de amortizaci&#243;n al final de este contrato </span>
</div>
<div class="pos" id="_50:805" style="top:805;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
sin antes haber realizado los pagos respetivos mensuales de todas las fechas anteriores que se muestran en esta misma </span>
</div>
<div class="pos" id="_50:822" style="top:822;left:50">
<span id="_14.9" style=" font-family:Times New Roman; font-size:14.9px; color:#000000">
tabla; porque de no realizar pagos mensuales e incurrir en 21 d&#237;as  mora su art&#237;culo estar&#225; en liquidaci&#243;n.</span>
</div>
<div class="pos" id="_50:840" style="top:840;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
<U>5</U><U>.</U><U> </U><U>Q</U><U>U</U><U>I</U><U>N</U><U>T</U><U>A</U><U> </U><U>(</U><U>I</U><U>N</U><U>T</U><U>E</U><U>R</U><U>E</U><U>S</U><U> </U><U>C</U><U>O</U><U>R</U><U>R</U><U>I</U><U>E</U><U>N</U><U>T</U><U>E</U><U> </U><U>Y</U><U> </U><U>D</U><U>E</U><U>M</U><U>&#193;</U><U>S</U><U> </U><U>C</U><U>A</U><U>R</U><U>G</U><U>O</U><U>S</U><U> </U><U>M</U><U>E</U><U>N</U><U>S</U><U>U</U><U>A</U><U>L</U><U>E</U><U>S</U><U> </U><U>A</U><U> </U><U>P</U><U>A</U><U>G</U><U>A</U><U>R</U><U> </U><U>E</U><U>N</U><U> </U><U>R</U><U>E</U><U>L</U><U>A</U><U>C</U><U>I</U><U>O</U><U>N</U><U> </U><U>C</U><U>O</U><U>N</U><U> </U><U>L</U><U>O</U><U> </U><U>P</U><U>A</U><U>C</U><U>T</U><U>A</U><U>D</U><U>O</U><U>)</U><U>:</U> </span>
</div>
<div class="pos" id="_50:856" style="top:856;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
El monto de empe&#241;o devengar&#225; una tasa de inter&#233;s corriente inicial del uno por ciento (1%) sobre saldo, la cual ser&#225; verificable </span>
</div>
<div class="pos" id="_50:872" style="top:872;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
mensualmente de acuerdo a la tasa promedio ponderada que emita el Banco Central de Nicaragua. Los dem&#225;s cargos a pagar en </span>
</div>
<div class="pos" id="_50:888" style="top:888;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
relaci&#243;n con lo pactado bajo lo cual EMPRE S.A estipula lo siguiente: <span style="font-weight:bold"> Cinco </span> por ciento  <span style="font-weight:bold"> (5%)</span> de Gastos administrativos, uno por </span>
</div>
<div class="pos" id="_49:904" style="top:904;left:49">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
ciento (1%) de gastos legales, uno por ciento (1%) de Comisiones, uno por ciento (1%) de mantenimiento al valor de   la prenda,<U>0</U>  </span>
</div>
<div class="pos" id="_50:920" style="top:920;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#b4072e">
porciento<span style="font-weight:bold"> </span> (%) de Gestiones crediticias; Todos estos dem&#225;s cargos son aplicados sobre el saldo actual.</span>
</div>
<div class="pos" id="_50:936" style="top:936;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
<U>6</U><U>.</U><U> </U><U>S</U><U>E</U><U>X</U><U>T</U><U>A</U><U> </U><U>(</U><U> </U><U>M</U><U>O</U><U>R</U><U>A</U><U>)</U><U>:</U> El  deudor podr&#225; realizar el pago de su cuota anticipada a su fecha de pago,  con el  fin de evitarse mora; En </span>
</div>
<div class="pos" id="_50:951" style="top:951;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
caso que  el Deudor  no pague en la fecha de cada cuota mensual, autom&#225;ticamente quedar&#225; constituido en mora y por el s&#243;lo hecho  </span>
</div>
<div class="pos" id="_50:967" style="top:967;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
de incumplimiento, y desde esa fecha hasta  el pago efectivo de su cuota, reconocer&#225; al acreedor un factor mora de  aplicado a la </span>
</div>
<div class="pos" id="_50:983" style="top:983;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
cuota fija, equivalente a <span style="font-weight:bold"> C$,( ) </span> por cada d&#237;a transcurrido en mora<span style="font-weight:bold"> </span> hasta el pago efectivo de su cuota.</span>
</div>
<div class="pos" id="_50:1000" style="top:1000;left:50">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
<U>7</U><U>.</U><U> </U><U>S</U><U>E</U><U>P</U><U>T</U><U>I</U><U>M</U><U>A</U><U> </U><U>(</U><U>P</U><U>&#201;</U><U>R</U><U>D</U><U>I</U><U>D</U><U>A</U><U> </U><U>D</U><U>E</U><U> </U><U>L</U><U>A</U><U>(</U><U>S</U><U>)</U><U> </U><U>G</U><U>A</U><U>R</U><U>A</U><U>N</U><U>T</U><U>I</U><U>A</U><U>(</U><U>S</U><U>)</U><U>)</U><U>:</U> <span id="_16.3" style=" font-size:16.3px"> El deudor debe realizar sus pagos mensuales, pero si llegase a </span></span>
</div>
<div class="pos" id="_50:1019" style="top:1019;left:50">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
21 d&#237;as en mora el deudor pierde total derecho sobre  <span style="font-weight:bold"> la (s) garant&#237;a (s) descrita(s) </span> bajo el com&#250;n acuerdo de </span>
</div>
<div class="pos" id="_50:1038" style="top:1038;left:50">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
este contrato, para lo cual el ACREEDOR tendr&#225; el total derecho de poner a la venta la(s) garant&#237;a(s), no </span>
</div>
<div class="pos" id="_50:1058" style="top:1058;left:50">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
obstante el mismo deudor podr&#225; recuperar sus bienes mediante la compra de los mismos a trav&#233;s de una factura </span>
</div>
<div class="pos" id="_50:1077" style="top:1077;left:50">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
de compra al contado o de sistema de apartado, siempre y cuando el/los bien(es) a&#250;n est&#233; (n) en el inventario </span>
</div>
<div class="pos" id="_50:1096" style="top:1096;left:50">
<span id="_16.3" style=" font-family:Times New Roman; font-size:16.3px; color:#000000">
de venta del ACREEDOR.<span id="_14.9" style=" font-size:14.9px"> </span></span>
</div>
<div class="pos" id="_0:0" style="top:1170">
<img name="_1170:827" src="page_002.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_50:1221" style="top:1221;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
<U>8</U><U>.</U><U> </U><U>O</U><U>C</U><U>T</U><U>A</U><U>V</U><U>A</U><U> </U><U>(</U><U>P</U><U>A</U><U>G</U><U>O</U><U> </U><U>A</U><U>N</U><U>T</U><U>I</U><U>C</U><U>I</U><U>P</U><U>A</U><U>D</U><U>O</U><U>)</U><U>:</U> En caso que el deudor realice cancelaci&#243;n anticipada, las partes acuerdan que  el Deudor </span>
</div>
<div class="pos" id="_50:1237" style="top:1237;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
reconocer&#225; y pagar&#225; &#250;nicamente el inter&#233;s neto  m&#225;s dem&#225;s cargos en relaci&#243;n con lo pactado devengados al d&#237;a de la cancelaci&#243;n </span>
</div>
<div class="pos" id="_50:1253" style="top:1253;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
anticipada. En caso de abonos anticipados, estos se aplicar&#225;n al principal del monto de empe&#241;o, con lo que no variar&#225; el plan de </span>
</div>
<div class="pos" id="_50:1269" style="top:1269;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
pagos del monto en relaci&#243;n a la periodicidad y fechas de las cuotas, sino en la proporci&#243;n del monto de empe&#241;o e intereses de cada </span>
</div>
<div class="pos" id="_50:1285" style="top:1285;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
cuota, adem&#225;s, en dependencia del monto del (los)  pago (s) anticipado (s) es posible que se reduzca el plazo total del empe&#241;o. Si el </span>
</div>
<div class="pos" id="_50:1301" style="top:1301;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
deudor cancela su contrato antes de los primeros treinta d&#237;as despu&#233;s de haber firmado este contrato, deber&#225; pagar el Inter&#233;s neto </span>
</div>
<div class="pos" id="_50:1317" style="top:1317;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
corriente y todo lo dem&#225;s cargos a pagar en relaci&#243;n con lo pactado correspondiente a un mes, al cancelar despu&#233;s del primer mes, </span>
</div>
<div class="pos" id="_50:1333" style="top:1333;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
pagar&#225; &#250;nicamente los recargos sobre los d&#237;as transcurridos hasta la fecha de su cancelaci&#243;n.</span>
</div>
<div class="pos" id="_50:1349" style="top:1349;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
<U>9</U><U>.</U><U> </U><U>D</U><U>E</U><U>C</U><U>I</U><U>M</U><U>A</U><U> </U><U>(</U><U>R</U><U>E</U><U>E</U><U>M</U><U>P</U><U>E</U><U>&#209;</U><U>O</U><U>)</U><U>:</U><span style="font-weight:bold"> </span> Una vez cancelado el contrato, los bienes podr&#225;n ser empe&#241;ados nuevamente despu&#233;s de 24 horas, </span>
</div>
<div class="pos" id="_50:1365" style="top:1365;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
aplica para art&#237;culos electr&#243;nicos o que se demuestre que el tiempo puede impactar en su rendimiento y funcionamiento. En caso </span>
</div>
<div class="pos" id="_50:1381" style="top:1381;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
que el/los bien (es) haya(n) sido empe&#241;ado en un menor plazo del permitido (3meses), se podr&#225; re empe&#241;ar inmediatamente sin </span>
</div>
<div class="pos" id="_50:1397" style="top:1397;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
necesidad de sacarse  del almacenamiento para validaci&#243;n funcional, el nuevo plazo en el contrato de re empe&#241;o quedara definido </span>
</div>
<div class="pos" id="_50:1412" style="top:1412;left:50">
<span id="_13.7" style=" font-family:Times New Roman; font-size:13.7px; color:#000000">
Por la diferencia del plazo m&#225;ximo permitido y el plazo del contrato anterior.</span>
</div>
<div class="pos" id="_50:1428" style="top:1428;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
<U>1</U><U>0</U><U>.</U><U> </U><U> </U><U>D</U><U>E</U><U>C</U><U>I</U><U>M</U><U>A</U><U> </U><U> </U><U>P</U><U>R</U><U>I</U><U>M</U><U>E</U><U>R</U><U>A</U><U> </U><U> </U><U>(</U><U>D</U><U>E</U><U>R</U><U>E</U><U>C</U><U>H</U><U>O</U><U>S</U><U> </U><U> </U><U>D</U><U>E</U><U>L</U><U> </U><U> </U><U>D</U><U>E</U><U>U</U><U>D</U><U>O</U><U>R</U><U>)</U><U>:</U>  El  Deudor  tiene  los  siguientes  derechos  de  conformidad  con  la  Norma  sobre  la </span>
</div>
<div class="pos" id="_50:1442" style="top:1442;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
transparencia  de  las  operaciones: <span style="font-weight:bold"> A.</span>    A  ser  informados  de  forma  clara,  completa,  oportuna  y  adecuada  de  los    servicios  del  acreedor  y </span>
</div>
<div class="pos" id="_50:1457" style="top:1457;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
adicionalmente de recibir informaci&#243;n fiscal b&#225;sica: <span style="font-weight:bold"> B.</span> Recibir informaci&#243;n previa antes de la suscripci&#243;n del contrato: El acreedor le  pondr&#225; a </span>
</div>
<div class="pos" id="_50:1471" style="top:1471;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
disposici&#243;n el contrato, para que este tenga en su poder una copia del mismo. <span style="font-weight:bold"> C.</span> Informaci&#243;n durante la vigencia de la obligaci&#243;n: A que de previo </span>
</div>
<div class="pos" id="_50:1486" style="top:1486;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
a la firma del contrato,  tiene el derecho de solicitar aclaraciones sobre el contrato y cada una de sus cl&#225;usulas. <span style="font-weight:bold"> D.</span> Atenci&#243;n de El acreedor por </span>
</div>
<div class="pos" id="_50:1500" style="top:1500;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
medio de sus funcionarios u oficina de atenci&#243;n al p&#250;blico: El Deudor tiene el derecho de ser atendido oportuna y diligentemente con un trato </span>
</div>
<div class="pos" id="_50:1514" style="top:1514;left:50">
<span id="_12.4" style=" font-family:Times New Roman; font-size:12.4px; color:#000000">
adecuado por parte del acreedor y que se respete su privacidad siempre y cuando cumpla con las obligaciones aqu&#237;  contra&#237;das. A que se le </span>
</div>
<div class="pos" id="_50:1529" style="top:1529;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
respondan sus reclamos, quejas y consultas, en los horarios de oficina (Lunes a viernes de 8:00 am  - 4:30 Pm y S&#225;bados de 8:30 am  - 11:00 Am). </span>
</div>
<div class="pos" id="_50:1543" style="top:1543;left:50">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
E</span>
</div>
<div class="pos" id="_99:1543" style="top:1543;left:99">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
.<span style="font-weight:normal"> la informaci&#243;n es brindada &#250;nicamente al deudor.</span></span>
</div>
<div class="pos" id="_50:1557" style="top:1557;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
<U>1</U><U>1</U><U>.</U><U> </U><U>D</U><U>E</U><U>C</U><U>I</U><U>M</U><U>A</U><U> </U><U>S</U><U>E</U><U>G</U><U>U</U><U>N</U><U>D</U><U>A</U><U> </U><U>(</U><U>O</U><U>B</U><U>L</U><U>I</U><U>G</U><U>A</U><U>C</U><U>I</U><U>O</U><U>N</U><U>E</U><U>S</U><U> </U><U>D</U><U>E</U><U>L</U><U> </U><U>D</U><U>E</U><U>U</U><U>D</U><U>O</U><U>R</U><U>)</U><U>:</U> El Deudor se obliga expresamente a lo siguiente: <span style="font-weight:bold"> A.</span> Debe leer de previo el contrato </span>
</div>
<div class="pos" id="_50:1572" style="top:1572;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
y solicitar aclaraciones al acreedor. <span style="font-weight:bold"> B.</span> A suministrar al acreedor toda la informaci&#243;n que &#233;ste le solicite sobre la garant&#237;a descrita en este contrato. </span>
</div>
<div class="pos" id="_50:1586" style="top:1586;left:50">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
C<span style="font-weight:normal"> . A entregar la copia del contrato al momento de la cancelaci&#243;n del mismo, en caso de p&#233;rdida debe de pagar la cantidad de </span> $ 1.00 (Un d&#243;lar)<span style="font-weight:normal"> o </span></span>
</div>
<div class="pos" id="_50:1601" style="top:1601;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
su equivalente en c&#243;rdobas por p&#233;rdida de documento. <span style="font-weight:bold"> D. </span> En caso de que el/los bien (es) no pueda (n) ser retirados por el DEUDOR, este podr&#225; </span>
</div>
<div class="pos" id="_50:1615" style="top:1615;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
enviar a un tercero qui&#233;n deber&#225; presentar: su c&#233;dula original m&#225;s cedula original del DEUDOR y el contrato privado, de faltar uno de estos tres </span>
</div>
<div class="pos" id="_50:1629" style="top:1629;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
documentos NO se entregar&#225;n el/los bien (es) empe&#241;ados a terceras personas. <span style="font-weight:bold"> E.</span> El deudor se obliga a pagar la cantidad de <span style="font-weight:bold"> $ 1.00 (Un d&#243;lar)</span> o su </span>
</div>
<div class="pos" id="_50:1644" style="top:1644;left:50">
<span id="_12.0" style=" font-family:Times New Roman; font-size:12.0px; color:#000000">
equivalente en c&#243;rdobas  por reestructuraci&#243;n de este contrato.</span>
</div>
<div class="pos" id="_50:1658" style="top:1658;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
<U>1</U><U>2</U><U>.</U><U> </U><U> </U><U>D</U><U>E</U><U>C</U><U>I</U><U>M</U><U>A</U><U> </U><U> </U><U>T</U><U>E</U><U>R</U><U>C</U><U>E</U><U>R</U><U>A</U><U> </U><U> </U><U>(</U><U>R</U><U>E</U><U>G</U><U>I</U><U>M</U><U>E</U><U>N</U><U> </U><U> </U><U>L</U><U>E</U><U>G</U><U>A</U><U>L</U><U>)</U><U>:</U>  El  presente  contrato,  y  todos  los  derechos  o  actos  que  se  deriven  o  sean </span>
</div>
<div class="pos" id="_50:1674" style="top:1674;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
consecuencia del mismo, quedan sometidos a la Ley 842,   ley 176,  ley 146, C&#243;digo Civil, C&#243;digo de Comercio y dem&#225;s  leyes de </span>
</div>
<div class="pos" id="_50:1690" style="top:1690;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
la Rep&#250;blica de  Nicaragua.</span>
</div>
<div class="pos" id="_50:1706" style="top:1706;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
<U>1</U><U>3</U><U>.</U><U> </U><U>D</U><U>E</U><U>C</U><U>I</U><U>M</U><U>A</U><U> </U><U>C</U><U>U</U><U>A</U><U>R</U><U>T</U><U>A</U><U> </U><U>(</U><U>A</U><U>C</U><U>E</U><U>P</U><U>A</U><U>C</U><U>C</U><U>I</U><U>&#211;</U><U>N</U><U>)</U><U>:</U> Los comparecientes declaran expresamente que aceptan el presente contrato con los </span>
</div>
<div class="pos" id="_50:1725" style="top:1725;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
t&#233;rminos relacionados, Y le&#237;do el presente contrato por  las  partes  lo  encontramos  conforme,  aprobamos,  ratificamos  y  </span>
</div>
<div class="pos" id="_50:1743" style="top:1743;left:50">
<span id="_13.3" style=" font-family:Times New Roman; font-size:13.3px; color:#000000">
firmamos,  en  la  ciudad  de<span style="font-weight:bold; color:#001f5f"> </span> San Marcos<span style="font-weight:bold; color:#001f5f"> </span> a los<span style="font-weight:bold; color:#001f5f">  </span> .    </span>
</div>
<div class="pos" id="_63:1789" style="top:1789;left:63">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CAPITAL </span>
</div>
<div class="pos" id="_62:1804" style="top:1804;left:62">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
PRESTAD</span>
</div>
<div class="pos" id="_139:1804" style="top:1804;left:139">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
C$ </span>
</div>
<div class="pos" id="_651:1804" style="top:1804;left:651">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CUOTA  C$</span>
</div>
<div class="pos" id="_736:1804" style="top:1804;left:736">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
C$  </span>
</div>
<div class="pos" id="_77:1818" style="top:1818;left:77">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
O C$</span>
</div>
<div class="pos" id="_210:1846" style="top:1846;left:210">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
TABLA DE AMORTIZACION DE DEUDA POR GARANTIA PRENDARIA</span>
</div>
<div class="pos" id="_63:1859" style="top:1859;left:63">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CAPITAL </span>
</div>
<div class="pos" id="_62:1873" style="top:1873;left:62">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
PRESTAD</span>
</div>
<div class="pos" id="_139:1873" style="top:1873;left:139">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#4f80bc">
$ </span>
</div>
<div class="pos" id="_662:1866" style="top:1866;left:662">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CUOTA </span>
</div>
<div class="pos" id="_736:1873" style="top:1873;left:736">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#4f80bc">
$ </span>
</div>
<div class="pos" id="_82:1888" style="top:1888;left:82">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
O $</span>
</div>
<div class="pos" id="_660:1881" style="top:1881;left:660">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
FIJA     $</span>
</div>
<div class="pos" id="_70:1921" style="top:1921;left:70">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
PLAZO </span>
</div>
<div class="pos" id="_208:1921" style="top:1921;left:208">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
INTER&#201;S </span>
</div>
<div class="pos" id="_283:1921" style="top:1921;left:283">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
Dem&#225;s cargos a </span>
</div>
<div class="pos" id="_74:1935" style="top:1935;left:74">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
PARA </span>
</div>
<div class="pos" id="_217:1935" style="top:1935;left:217">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
NETO </span>
</div>
<div class="pos" id="_301:1935" style="top:1935;left:301">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
pagar en </span>
</div>
<div class="pos" id="_60:1949" style="top:1949;left:60">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CANCELA</span>
</div>
<div class="pos" id="_206:1949" style="top:1949;left:206">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CORRIEN</span>
</div>
<div class="pos" id="_286:1949" style="top:1949;left:286">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
relaci&#243;n con lo </span>
</div>
<div class="pos" id="_87:1964" style="top:1964;left:87">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
R</span>
</div>
<div class="pos" id="_218:1964" style="top:1964;left:218">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
TE (a)</span>
</div>
<div class="pos" id="_294:1964" style="top:1964;left:294">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
pactado (b)</span>
</div>
<div class="pos" id="_392:1975" style="top:1975;left:392">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
Inter&#233;s Neto </span>
</div>
<div class="pos" id="_389:1989" style="top:1989;left:389">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
corriente m&#225;s </span>
</div>
<div class="pos" id="_385:2004" style="top:2004;left:385">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
dem&#225;s cargos a </span>
</div>
<div class="pos" id="_493:2004" style="top:2004;left:493">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
ABONO AL </span>
</div>
<div class="pos" id="_603:2004" style="top:2004;left:603">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
TOTAL A </span>
</div>
<div class="pos" id="_715:2004" style="top:2004;left:715">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
MONTO </span>
</div>
<div class="pos" id="_402:2018" style="top:2018;left:402">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
pagar en </span>
</div>
<div class="pos" id="_498:2018" style="top:2018;left:498">
<span id="_12.0" style="font-weight:bold; font-family:Times New Roman; font-size:12.0px; color:#000000">
CAPITAL</span>
</div>
<div class="pos" id="_609:2018" style="top:2018;left:609">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
PAGAR                   </span>
</div>
<div class="pos" id="_705:2018" style="top:2018;left:705">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
RESTANTE                </span>
</div>
<div class="pos" id="_386:2032" style="top:2032;left:386">
<span id="_11.6" style="font-weight:bold; font-family:Times New Roman; font-size:11.6px; color:#000000">
relaci&#243;n con lo </span>
</div>
<div class="pos" id="_226:2045" style="top:2045;left:226">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
1%</span>
</div>
<div class="pos" id="_318:2045" style="top:2045;left:318">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
%</span>
</div>
<div class="pos" id="_68:2052" style="top:2052;left:68">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
FECHAS DE PAGO</span>
</div>
<div class="pos" id="_404:2047" style="top:2047;left:404">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
pactado</span>
</div>
<div class="pos" id="_209:2121" style="top:2121;left:209">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_253:2121" style="top:2121;left:253">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_294:2121" style="top:2121;left:294">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_349:2121" style="top:2121;left:349">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_395:2121" style="top:2121;left:395">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_450:2121" style="top:2121;left:450">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_495:2121" style="top:2121;left:495">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_550:2121" style="top:2121;left:550">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_601:2121" style="top:2121;left:601">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_660:2121" style="top:2121;left:660">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_694:2121" style="top:2121;left:694">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#000000">
C$</span>
</div>
<div class="pos" id="_758:2121" style="top:2121;left:758">
<span id="_12.2" style="font-weight:bold; font-family:Times New Roman; font-size:12.2px; color:#1f497d">
$</span>
</div>
<div class="pos" id="_57:2199" style="top:2199;left:57">
<span id="_13.6" style="font-weight:bold; font-family:Times New Roman; font-size:13.6px; color:#000000">
Deudor<U>:</U></span>
</div>
<div class="pos" id="_57:2217" style="top:2217;left:57">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
C&#233;dula:</span>
</div>
<div class="pos" id="_57:2235" style="top:2235;left:57">
<span id="_13.6" style=" font-family:Times New Roman; font-size:13.6px; color:#000000">
Cel:</span>
</div>
</nowrap></nobr>
</body>
</html>
