<!DOCTYPE html>
<html>
<head>
    <title>Correo de ejemplo</title>
</head>
<body>
    <h1>Bienvenido a nuestra aplicación</h1>
    <p>Este es un correo de ejemplo enviado desde nuestra aplicación .NET Core 6.</p>
</body>
</html>